<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import NextLeavesList from '@/components/NextLeavesList.vue';
import VacationService from '@/service/VacationService';
import LeaveRequestForm from '@/components/LeaveRequestForm.vue';
import LeaveBalance from '@/components/LeaveBalance.vue';
import Loading from '@/components/Loading.vue';

import ImputationService from '@/service/ImputationService';
import VacationTypeService from '@/service/VacationTypeService';
import VacationRequestService from '@/service/VacationRequestService';
import VacationDaysQuotaService from '@/service/VacationQuotaService';

import type { vacationDayType, vacationFormType } from '@/types/types';
import type { vacationType } from '@/types/vacationType';
import type { NewVacationRequest, VacationRequestDatesList } from '@/types/vacationRequestType';
import type { ExtendedVacationDaysQuotaType, VacationDaysQuotaType } from '@/types/vacationDaysQuotaType.';
import type { VacationRequestType } from '@/types/vacationRequestType';
import type { PublicDayType } from '@/types/countryType';

import { useToast } from 'primevue/usetoast';
import { useGetUserRole } from '@/composables/useGetUserRole';
import { getToastMessage } from '@/utils/getMessage';

import VacationQuotaService from '@/service/VacationQuotaService';

const { userRole, collaboratorId, managerId } = useGetUserRole();

const toast = useToast();

/**
 * * Reactive Variables
 */

const vacationTypesList = ref<vacationType[]>([]);

const products = ref();

const dropdownItems = ref<vacationDayType[]>([]);
const publicDaysList = ref<PublicDayType[]>([]);
const currentVacationDaysQuota = ref<VacationDaysQuotaType | undefined>();
const isLoading = ref<boolean>(false);
const isErrorOccurred = ref<boolean>(false);
const vacationDaysQuotaList = ref<ExtendedVacationDaysQuotaType[]>([]);
const upcomingVacationRequestList = ref<VacationRequestType[]>([]);
const approvedVacationRequestDatesList = ref<VacationRequestDatesList[]>([]);

/**
 * * Methods
 */

const getVacationTypeAndPublicDaysList = () => {
    isLoading.value = true;
    if (collaboratorId.value)
        Promise.all([
            VacationTypeService.getAllVacationTypes(),
            ImputationService.getPublicHoliday(collaboratorId.value),
            VacationQuotaService.getVacationQuotaByCollaboratorId(collaboratorId.value),
            VacationRequestService.getVacationRequestListPaginated(collaboratorId.value, 0, 3, true)
        ])
            .then((data) => {
                vacationTypesList.value = data[0].data;
                publicDaysList.value = data[1].data;
                vacationDaysQuotaList.value = data[2].data;
                upcomingVacationRequestList.value = data[3].data.data;
            })
            .catch((error) => {
                if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => (isLoading.value = false));
};

const handleGetApprovedVacationDatesList = (vacationTypeId: string, monthStartDate: string, monthEndDate: string) => {
    if (collaboratorId.value)
        VacationRequestService.getApprovedVacationDatesListByType(collaboratorId.value, vacationTypeId, 'APPROVED', monthStartDate, monthEndDate).then(({ data }) => {
            approvedVacationRequestDatesList.value = data;
        });
};

/**
 * * Watcher
 */
watch(userRole, () => {
    getVacationTypeAndPublicDaysList();
});

/**
 * * Methods
 */

const handleFetchQuotaType = (quotaTypeId: string) => {
    if (collaboratorId.value) {
        VacationDaysQuotaService.getVacationDaysQuotaByCollaboratorAndVacationType(collaboratorId.value, quotaTypeId)
            .then(({ data }: { data: VacationDaysQuotaType }) => {
                currentVacationDaysQuota.value = data;
            })
            .catch((error) => {
                toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            });
    }
};

const handleFormSubmit = (formValues: vacationFormType) => {
    if (userRole.value === 'COLLABORATOR') {
        if (managerId.value && collaboratorId.value) {
            isLoading.value = true;
            let vacationRequest: NewVacationRequest = {
                startDate: formValues.startDate,
                endDate: formValues.endDate,
                vacationType: formValues.vacationType,
                comment: formValues.comment,
                collaborator: { collaboratorId: collaboratorId.value },
                manager: { collaboratorId: managerId.value }
            };
            VacationRequestService.addVacationRequest(collaboratorId.value, managerId.value, vacationRequest)
                .then(() => {
                    toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('vacationRequestAddedToastMessage'), life: 3000 });
                })
                .then(() => {
                    collaboratorId.value &&
                        VacationRequestService.getVacationRequestListPaginated(collaboratorId.value, 0, 3, true).then(({ data }) => {
                            upcomingVacationRequestList.value = data.data;
                        });
                })
                .catch((error) => {
                    if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                })
                .finally(() => (isLoading.value = false));
        }
    }
};

/**
 * * Lifecycle Hooks
 */

onMounted(() => {
    getVacationTypeAndPublicDaysList();

    ImputationService.getImputationSmall().then((data) => {
        products.value = data;
    });
    VacationService.getAllVacationTypeByEntity().then((data: vacationDayType[]) => {
        if (data) dropdownItems.value = data;
    });
});
</script>

<template>
    <Loading :is-loading="isLoading">
        <div class="grid">
            <div class="col-12 md:col-6">
                <LeaveRequestForm
                    :public-days-list="publicDaysList"
                    :current-vacation-days-quota="currentVacationDaysQuota"
                    :is-error-occurred="isErrorOccurred"
                    :leave-type-items="vacationTypesList"
                    :approved-request-dates-list="approvedVacationRequestDatesList"
                    @fetch-new-type-quota="handleFetchQuotaType"
                    @submit-form="handleFormSubmit"
                    @fetch-approved-vacation-dates="handleGetApprovedVacationDatesList"
                />
            </div>
            <div class="col-12 md:col-6">
                <NextLeavesList :ImputationList="upcomingVacationRequestList" />
                <LeaveBalance :leaveBalanceData="vacationDaysQuotaList" />
            </div>
        </div>
    </Loading>
</template>
