<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';

import AddTimesheet from '@/components/AddTimesheet.vue';

import ImputationService from '@/service/ImputationService';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';
import { getToastMessage } from '@/utils/getMessage';

import type { TimesheetData, FormattedTimesheetMonthlyStatus, ImputationTimesheetDraft, LastWeekOfMonthEntries, OffProjectType, PublicHolidayType, MonthlyTimesheetValidationType } from '@/types/imputationTypes';

import { useRoute } from 'vue-router';
import { useToast } from 'primevue/usetoast';
import { useGetUserRole } from '../../composables/useGetUserRole';
import { IMPUTATION_STATUS, MANAGER_RESPONSE, ROLE } from '@/constants/constant';
import VacationRequestService from '@/service/VacationRequestService';
import type { VacationRequestDatesList } from '@/types/vacationRequestType';
import type { ExportType } from '@/types/exportType';
import type { AxiosResponse } from 'axios';

const toast = useToast();
const route = useRoute();
const { collaboratorId, managerId, userRole } = useGetUserRole();

/**
 * * Reactive variables
 */

const rawImputationData = ref<TimesheetData[]>([]);
const formattedTimesheetMonthlyStatus = ref<FormattedTimesheetMonthlyStatus[]>([]);
const publicHoliday = ref<PublicHolidayType[]>([]);
const offProjects = ref<OffProjectType[]>([]);
const isFirstFetchDone = ref<boolean>(false);
const isSecondFetchDone = ref<boolean>(false);
const monthlyTimesheetValidationResponse = ref<MonthlyTimesheetValidationType | undefined>();
const isErrorOccurred = ref<boolean>(false);
const imputationRequestId = ref<string | null>(null);

const monthQueryParam = ref<number | null>(null);
const yearQueryParam = ref<number | null>(null);
const approvedVacationRequestDatesList = ref<VacationRequestDatesList[]>([]);

/**
 * * Methods
 */

const fetchWeekImputationData = (startDate: string, endDate: string, month: number, year: number) => {
    isSecondFetchDone.value = false;
    if (collaboratorId.value && managerId.value) {
        Promise.all([
            ImputationService.getWeeklyTimesheet(collaboratorId.value, startDate, endDate),
            ImputationService.getOffProject(collaboratorId.value, startDate, endDate),
            ImputationService.getMonthlyTimesheetStatus(collaboratorId.value, managerId.value, month, year),
            VacationRequestService.getApprovedVacationDatesList(collaboratorId.value, IMPUTATION_STATUS.APPROVED, startDate, endDate)
        ])
            .then((data) => {
                isErrorOccurred.value = false;
                rawImputationData.value = data[0].data;
                offProjects.value = data[1].data;
                formattedTimesheetMonthlyStatus.value = data[2].data;
                approvedVacationRequestDatesList.value = data[3].data;
            })
            .catch((error) => {
                toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                isErrorOccurred.value = true;
            })
            .finally(() => {
                isSecondFetchDone.value = true;
            });
    } else {
        isSecondFetchDone.value = true;
        isErrorOccurred.value = true;
    }
};

const initialFetch = () => {
    if (userRole.value === ROLE.MANAGER) {
        if (route?.query?.collaboratorId && route.query.monthlyTimesheetId) {
            collaboratorId.value = route.query.collaboratorId.toString();
            imputationRequestId.value = route.query.monthlyTimesheetId?.toString();
        } else imputationRequestId.value = null;
    } else {
        imputationRequestId.value = null;
    }

    if (collaboratorId.value && managerId.value && route.query.month && route.query.year) {
        ImputationService.getMonthlyTimesheetStatus(collaboratorId.value, managerId.value, Number(route?.query?.month), Number(route?.query?.year))
            .then(({ data }) => {
                formattedTimesheetMonthlyStatus.value = data;
                isErrorOccurred.value = false;
            })
            .then(() => {
                fetchDisabledEntries();
            })
            .catch((error) => {
                if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            });
    } else if (managerId.value && collaboratorId.value) {
        fetchDisabledEntries();
    }
};
const saveImputationDraft = (startWeekDate: string, endWeekDate: string, draftData: ImputationTimesheetDraft[]) => {
    isSecondFetchDone.value = false;
    if (collaboratorId.value && managerId.value)
        ImputationService.saveWeeklyDraft(collaboratorId.value, managerId.value, startWeekDate, endWeekDate, draftData)
            .then(() => {
                isErrorOccurred.value = false;
                toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('draftSavedSuccessfullyToastMessage'), life: 3000 });
            })
            .catch((error) => {
                if (!isErrorOccurred.value) if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => {
                isSecondFetchDone.value = true;
            });
};

const handleSendManagerResponse = (managerResponse: MANAGER_RESPONSE, imputationRequestId: string | null | undefined, startDayOfWeek: string, endDayOfWeek: string, month: number, year: number) => {
    isSecondFetchDone.value = true;
    if (imputationRequestId)
        ImputationService.sendManagerResponse(managerResponse, imputationRequestId)
            .then(() => {
                toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('timesheetStatusChangedSuccessfully'), life: 3000 });
            })
            .then(() => {
                fetchWeekImputationData(startDayOfWeek, endDayOfWeek, month, year);
            })
            .catch((error) => {
                if (!isErrorOccurred.value) if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => {
                isSecondFetchDone.value = true;
            });
};

const fetchDisabledEntries = () => {
    isFirstFetchDone.value = false;

    setTimeout(() => {
        if (collaboratorId.value && managerId.value) {
            Promise.all([ImputationService.getPublicHoliday(collaboratorId.value)])
                .then((data) => {
                    publicHoliday.value = data[0].data;
                    isErrorOccurred.value = false;
                })
                .catch((error) => {
                    if (!isErrorOccurred.value) if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                    isErrorOccurred.value = true;
                })
                .finally(() => {
                    isFirstFetchDone.value = true;
                });
        } else {
            isFirstFetchDone.value = true;
            isErrorOccurred.value = true;
        }
    }, 1000);
};

const SendMonthForApproval = (startWeekDate: string, endWeekDate: string, lastWeekOfMonthData: LastWeekOfMonthEntries[], month: number, year: number) => {
    isSecondFetchDone.value = false;
    if (collaboratorId.value && managerId.value) {
        ImputationService.saveWeeklyDraft(collaboratorId.value, managerId.value, startWeekDate, endWeekDate, lastWeekOfMonthData)
            .then(() => {
                isErrorOccurred.value = false;
                if (collaboratorId.value && managerId.value)
                    ImputationService.saveMonthlyImputation(collaboratorId.value, managerId.value, month, year)
                        .then(({ data }) => {
                            monthlyTimesheetValidationResponse.value = data;
                            isErrorOccurred.value = false;
                            if (data.success) toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('monthlyTimesheetSend'), life: 3000 });
                        })
                        .then(() => {
                            fetchWeekImputationData(startWeekDate, endWeekDate, month, year);
                        })
                        .catch((error) => {
                            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                        });
            })
            .catch((error) => {
                if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            });
    }
    isSecondFetchDone.value = true;
};

const getUserId = (): string | undefined => {
    let userId: string | undefined;
    if (userRole.value === ROLE.COLLABORATOR && collaboratorId.value !== undefined) {
        userId = collaboratorId.value;
    } else if (userRole.value === ROLE.MANAGER && route.query.collaboratorId) {
        userId = route.query.collaboratorId.toString();
    }
    return userId;
};

const extractFileName = (contentDisposition: string | undefined): string | undefined => {
    if (typeof contentDisposition === 'string') {
        const filename = contentDisposition.split(';').find((n: string) => n.includes('filename='));
        return filename?.replace('filename=', '')?.replace(/"/g, '')?.trim() ?? undefined;
    }
    return undefined;
};

const handleDownload = (response: AxiosResponse, filename: string | undefined) => {
    if (filename) {
        const url = window.URL.createObjectURL(new Blob([response.data]));
        const link = document.createElement('a');
        link.href = url;
        link.download = filename;
        document.body.appendChild(link);
        link.click();
        window.URL.revokeObjectURL(url);
        document.body.removeChild(link);
    }
};

const handleTimesheetExport = (month: number, year: number, fileType: ExportType) => {
    const userId = getUserId();
    if (typeof userId === 'string')
        ImputationService.exportTimesheet(userId, month, year, fileType).then((response) => {
            const contentDisposition: string | undefined = response.headers['content-disposition'];
            const filename = extractFileName(contentDisposition);
            handleDownload(response, filename);
        });
};

/**
 * * Watchers
 */

watch([managerId, collaboratorId, userRole], () => {
    initialFetch();
});

/**
 * * Lifecycle Hooks
 */

onMounted(async () => {
    await initialFetch();
    const { month, year } = route.query;
    monthQueryParam.value = Number(month);
    yearQueryParam.value = Number(year);
});
</script>

<template>
    <div class="card">
        <AddTimesheet
            :isErrorOccurred="isErrorOccurred"
            :user-role="userRole"
            :formatted-monthly-status="formattedTimesheetMonthlyStatus"
            :imputation-entries-raw-data="rawImputationData"
            :public-holiday="publicHoliday"
            :is-first-fetch-done="isFirstFetchDone"
            :is-second-fetch-done="isSecondFetchDone"
            :monthly-timesheet-validation-response="monthlyTimesheetValidationResponse"
            :off-projects="offProjects"
            :imputation-request-id="imputationRequestId"
            :month="monthQueryParam"
            :year="yearQueryParam"
            :approved-vacation-request-dates-list="approvedVacationRequestDatesList"
            @fetch-new-week="fetchWeekImputationData"
            @save-draft-weekly-imputation="saveImputationDraft"
            @send-month-for-approval="SendMonthForApproval"
            @export-timesheet="handleTimesheetExport"
            @send-manager-response="handleSendManagerResponse"
        />
    </div>
</template>

<style lang="css" scoped></style>
