<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';

import type { LeaveBalanceType, NextLeaveType } from '@/types/types';
import type { ExtendedVacationDaysQuotaType } from '@/types/vacationDaysQuotaType.';
import type { DisplayedMonthlyTimesheetRequestsType, ImputationRequestDataType } from '@/types/imputationTypes';
import type { VacationRequestType } from '@/types/vacationRequestType';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import ImputationService from '@/service/ImputationService';
import VacationService from '@/service/VacationService';
import VacationQuotaService from '@/service/VacationQuotaService';

import NextLeavesList from '@/components/NextLeavesList.vue';
import LeaveBalance from '@/components/LeaveBalance.vue';
import DashboardStats from '@/components/DashboardStats.vue';
import CollaboratorLatestImputations from '@/components/CollaboratorLatestImputation.vue';
import ManagerImputationRequestList from '@/components/ManagerImputationRequestsList.vue';
import ManagerVacationRequestList from '@/components/ManagerLVacationRequestList.vue';
import Loading from '@/components/Loading.vue';

import { useGetUserRole } from '@/composables/useGetUserRole';
import { useToast } from 'primevue/usetoast';
import VacationRequestService from '@/service/VacationRequestService';
import { useI18n } from 'vue-i18n';

const { userRole, managerId, collaboratorId } = useGetUserRole();
const toast = useToast();
const { t } = useI18n();

type imputationRequestCountType = {
    approvedMonthlyTimesheetNbr: number;
    pendingMonthlyTimesheetNbr: number;
    rejectedMonthlyTimesheetNbr: number;
};

/**
 * * Reactive variables
 */
const collaboratorImputationRequestData = ref<DisplayedMonthlyTimesheetRequestsType | undefined>();
const managerImputationRequestData = ref<ImputationRequestDataType[]>([]);
const nextLeaves = ref<NextLeaveType[]>([]);
const isLoading = ref<boolean>(false);
const isErrorOccurred = ref<boolean>(false);
const collaboratorImputationRequestCountByStatus = ref<imputationRequestCountType | undefined>();
const managerImputationRequestCountByStatus = ref<imputationRequestCountType | undefined>();
const vacationDaysQuotaList = ref<ExtendedVacationDaysQuotaType[]>([]);
const upcomingVacationList = ref<VacationRequestType[]>([]);

/**
 *  * Watchers
 */

watch([userRole, managerId, collaboratorId], () => {
    handleFetchData();
});

/**
 * * Methods
 */

const handleFetchData = () => {
    if (userRole.value === 'COLLABORATOR' && collaboratorId.value && managerId.value) {
        isLoading.value = true;
        Promise.all([
            ImputationService.getLatestImputationRequests(collaboratorId.value, managerId.value),
            ImputationService.getMonthlyTimesheetRequestCountByCollaboratorId(collaboratorId.value),
            VacationQuotaService.getVacationQuotaByCollaboratorId(collaboratorId.value)
        ])
            .then((data) => {
                isErrorOccurred.value = false;
                isLoading.value = true;
                collaboratorImputationRequestData.value = data[0].data;
                collaboratorImputationRequestCountByStatus.value = data[1].data;
                vacationDaysQuotaList.value = data[2].data;
            })
            .catch((error) => {
                isErrorOccurred.value = true;
                toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => (isLoading.value = false));
        VacationService.getNextVacationSmall().then((data) => {
            nextLeaves.value = data;
        });
        VacationService.getAllLeaveBalance().then((data) => {
            leaveBalanceData.value = data;
        });
    } else if (userRole.value === 'MANAGER' && managerId.value) {
        isLoading.value = true;
        Promise.all([
            ImputationService.getImputationRequestByManagerId(managerId.value, true),
            ImputationService.getMonthlyTimesheetRequestCountByManagerId(managerId.value),
            VacationRequestService.getManagerVacationRequestPaginated(managerId.value, 0, 3, true)
        ])
            .then((data) => {
                isErrorOccurred.value = false;
                isLoading.value = true;
                managerImputationRequestData.value = data[0].data;
                managerImputationRequestCountByStatus.value = data[1].data;
                upcomingVacationList.value = data[2].data.data;
            })
            .catch((error) => {
                isErrorOccurred.value = true;
                toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => (isLoading.value = false));
    }
};

/**
 * * Lifecycle Hooks
 */

onMounted(() => {
    handleFetchData();
});

const leaveBalanceData = ref<LeaveBalanceType[]>([]);
</script>

<template>
    <Loading :is-loading="isLoading">
        <div class="grid">
            <DashboardStats v-if="userRole === 'COLLABORATOR'" :name="$t('LeaveRequestTitle')" color="blue" :status="$t('DashboardStatsPendingApprovalRequestStatus')" :nb="collaboratorImputationRequestCountByStatus?.approvedMonthlyTimesheetNbr" />
            <DashboardStats
                v-if="userRole === 'COLLABORATOR'"
                :name="$t('ImputationRequestTitle')"
                color="orange"
                :status="$t('DashboardStatsPendingApprovalRequestStatus')"
                :nb="collaboratorImputationRequestCountByStatus?.pendingMonthlyTimesheetNbr"
            />
            <DashboardStats v-if="userRole === 'COLLABORATOR'" :name="$t('ImputationRequestTitle')" color="cyan" :status="$t('DashboardStatsApprovedRequestStatus')" :nb="collaboratorImputationRequestCountByStatus?.rejectedMonthlyTimesheetNbr" />

            <DashboardStats v-if="userRole === 'MANAGER'" :name="$t('LeaveRequestTitle')" color="blue" :status="$t('DashboardStatsPendingApprovalRequestStatus')" :nb="managerImputationRequestCountByStatus?.approvedMonthlyTimesheetNbr" />
            <DashboardStats v-if="userRole === 'MANAGER'" :name="$t('ImputationRequestTitle')" color="orange" :status="$t('DashboardStatsPendingApprovalRequestStatus')" :nb="managerImputationRequestCountByStatus?.pendingMonthlyTimesheetNbr" />
            <DashboardStats v-if="userRole === 'MANAGER'" :name="$t('ImputationRequestTitle')" color="cyan" :status="$t('DashboardStatsApprovedRequestStatus')" :nb="managerImputationRequestCountByStatus?.rejectedMonthlyTimesheetNbr" />

            <div class="col-12 xl:col-6">
                <NextLeavesList v-if="userRole === 'COLLABORATOR'" :ImputationList="upcomingVacationList" />
            </div>
            <div class="col-12 xl:col-6">
                <LeaveBalance v-if="userRole === 'COLLABORATOR'" :leave-balance-data="vacationDaysQuotaList" />
            </div>
            <div class="col-12" :class="{ 'xl:col-6': userRole === 'MANAGER' }">
                <div class="card">
                    <h4 class="text-600">{{ $t('LatestImputationTitle') }}</h4>
                    <CollaboratorLatestImputations v-if="userRole === 'COLLABORATOR'" @refetch-data="handleFetchData" :is-error-occurred="isErrorOccurred" :imputation="collaboratorImputationRequestData" />
                    <ManagerImputationRequestList v-if="userRole === 'MANAGER'" :latest="true" :imputation-request-list="managerImputationRequestData" />
                </div>
            </div>
            <div class="col-12 xl:col-6">
                <div v-if="userRole === 'MANAGER'" class="card">
                    <h4>{{ t('label.vacationList') }}</h4>
                    <ManagerVacationRequestList :paginated="false" :latest="true" :vacation-request="upcomingVacationList" />
                </div>
            </div>
        </div>
    </Loading>
</template>
<style scoped>
@media (max-width: 575px) {
    .hidden-mobile {
        display: none;
    }
}
</style>
