<script setup lang="ts">
import AuthService from '@/service/AuthService';
import Button from 'primevue/button';

/**
 * Methods
 */

const logout = () => {
    AuthService.logout();
};
</script>

<template>
    <div>
        <div class="flex card flex-column align-items-center gap-5 sm:p-8 w-screen h-screen">
            <div class="font-bold text-900 text-center text-6xl border-bottom-1 pb-3 surface-border pt-5">Oops !</div>
            <div class="font-medium text-700 text-2xl text-center">You have incomplete profile info !</div>
            <div>Please contact your manager to complete your profile infos so that you can use the application.</div>
            <Button @click="logout()" label="Logout" icon="pi pi-check" iconPos="left" />
        </div>
    </div>
</template>

<style scoped></style>
