<script setup lang="ts">
import { ref, watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { useToast } from 'primevue/usetoast';

import ImputationRequests from '@/components/ImputationRequests.vue';
import ImputationService from '@/service/ImputationService';
import Loading from '@/components/Loading.vue';
import PaginatorComponent from '@/components/PaginatorComponent.vue';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import type { DisplayedMonthlyTimesheetRequestsType, ImputationRequestDataType } from '@/types/imputationTypes';
import AuthService from '@/service/AuthService';

const { t } = useI18n();
const toast = useToast();

/**
 * * Reactive variables
 */
const pageNumber = ref<number>(0);
const pageSize = ref<number>(5);
const totalItems = ref<number>(0);
const isLoading = ref<boolean>(false);
const isErrorOccurred = ref<boolean>(false);
const imputationRequestData = ref<ImputationRequestDataType[]>([]);

/**
 * * Methods
 */

const handleGetImputationRequestPage = (pageNumber: number, pageSize: number) => {
    isLoading.value = true;
    AuthService.getClaims().then((claims) => {
        if (claims?.sub && claims.manager_id)
            ImputationService.getLatestImputationRequests(claims.sub, claims.manager_id, false, pageNumber, pageSize)
                .then(({ data: imputationRequest }: { data: DisplayedMonthlyTimesheetRequestsType }) => {
                    imputationRequestData.value = imputationRequest.data;
                    totalItems.value = imputationRequest.totalItems;
                    isErrorOccurred.value = false;
                })
                .catch((err) => {
                    toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(err?.response?.data?.Code), life: 3000 });
                    isErrorOccurred.value = true;
                })
                .finally(() => {
                    isLoading.value = false;
                });
    });
};
const handleRefetchData = () => {
    handleGetImputationRequestPage(pageNumber.value, pageSize.value);
};

const handlePageChange = (page: number) => {
    pageNumber.value = page;
};

const handlePageSizeChange = (size: number) => {
    pageSize.value = size;
};

/**
 *  * Watchers
 */

watch(
    [() => pageNumber.value, () => pageSize.value],
    ([newPageNumber, newPageSize]) => {
        handleGetImputationRequestPage(newPageNumber, newPageSize);
    },
    { immediate: true }
);
</script>

<template>
    <Loading :is-loading="isLoading">
        <div class="card">
            <h3 class="mb-5">{{ t('imputationTitle') }}</h3>
            <ImputationRequests @refetch-data="handleRefetchData" :is-error-occurred="isErrorOccurred" :imputation-requests="imputationRequestData" />
            <PaginatorComponent :page-size="pageSize" :total-elements="totalItems" v-on:page-change="handlePageChange" v-on:page-size-change="handlePageSizeChange" />
        </div>
    </Loading>
</template>
<style scoped></style>
