<script setup lang="ts">
import { ref, onMounted, watch } from 'vue';

import ConfirmPopup from 'primevue/confirmpopup';
import AllLeavesTable from '@/components/AllLeavesTable.vue';
import Loading from '@/components/Loading.vue';
import PaginatorComponent from '@/components/PaginatorComponent.vue';
import { getToastMessage } from '@/utils/getMessage';

import VacationRequestService from '@/service/VacationRequestService';
import Dialog from 'primevue/dialog';

import type { VacationRequestType, VacationRequestPageType } from '@/types/vacationRequestType';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import { useConfirm } from 'primevue/useconfirm';
import { useGetUserRole } from '@/composables/useGetUserRole';
import { useToast } from 'primevue/usetoast';
import { useI18n } from 'vue-i18n';

const toast = useToast();
const confirm = useConfirm();
const { collaboratorId, userRole } = useGetUserRole();
const { t } = useI18n();

/**
 * * Reactive Variables
 */

const pageNumber = ref<number>(0);
const pageSize = ref<number>(5);
const totalItems = ref<number>(0);
const isLoading = ref<boolean>(false);
const isErrorOccurred = ref<boolean>(false);
const vacationRequestList = ref<VacationRequestType[]>([]);
const isDialogVisible = ref<boolean>(false);
const dialogContent = ref<string | undefined>();

/**
 * * Methods
 */
const getVacationRequestPage = (collaboratorId: string, page: number, size: number) => {
    isLoading.value = true;
    VacationRequestService.getVacationRequestListPaginated(collaboratorId, page, size)
        .then(({ data }: { data: VacationRequestPageType }) => {
            vacationRequestList.value = data.data;
            totalItems.value = data.totalItems;
        })
        .catch((error) => {
            toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => (isLoading.value = false));
};

const handlePageChange = (page: number) => {
    pageNumber.value = page;
};

const handlePageSizeChange = (size: number) => {
    pageSize.value = size;
};

const handleRefetchData = () => {
    if (collaboratorId.value && userRole.value === 'COLLABORATOR') getVacationRequestPage(collaboratorId.value, pageNumber.value, pageSize.value);
};
const handleUpdateModelVisibility = (dialogText: string, dialogVisibility: boolean) => {
    isDialogVisible.value = dialogVisibility;
    dialogContent.value = dialogText;
};

const handleDeletionConfirmation = (event: Event, vacationRequestId: string) => {
    confirm.require({
        target: event.currentTarget as HTMLElement,
        message: t('deletionConfirmationMessage'),
        icon: 'pi pi-info-circle',
        acceptClass: 'p-button-danger',
        accept: () => {
            handleDeleteVacationRequest(vacationRequestId);
        }
    });
};

const handleDeleteVacationRequest = (vacationRequestId: string) => {
    if (collaboratorId.value) {
        isLoading.value = true;
        VacationRequestService.deleteVacationRequestById(collaboratorId.value, vacationRequestId)
            .then(() => {
                toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('draftSavedSuccessfullyToastMessage'), life: 3000 });
            })
            .then(() => {
                if (collaboratorId.value) getVacationRequestPage(collaboratorId.value, pageNumber.value, pageSize.value);
            })
            .catch((error) => {
                toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => {
                isLoading.value = false;
            });
    }
};

/**
 * * Watchers
 */
watch(
    [pageNumber, pageSize, collaboratorId],
    ([newPageNumber, newPageSize, newCollaboratorId]) => {
        if (newCollaboratorId && userRole.value === 'COLLABORATOR') getVacationRequestPage(newCollaboratorId, newPageNumber, newPageSize);
    },
    { immediate: true }
);

/**
 * * Lifecycle Hooks
 */
onMounted(() => {
    if (collaboratorId.value && userRole.value === 'COLLABORATOR') getVacationRequestPage(collaboratorId.value, pageNumber.value, pageSize.value);
});
</script>
<template>
    <Dialog modal :header="t('vacationTableHeader.Comment')" v-model:visible="isDialogVisible" :style="{ width: '45vw' }" :breakpoints="{ '960px': '75vw' }">
        <div class="dialog-content">
            <p>{{ dialogContent }}</p>
        </div>
    </Dialog>
    <Loading :isLoading="isLoading">
        <div class="card">
            <h3 class="mb-5">{{ t('vacationTitle') }}</h3>
            <AllLeavesTable
                @cancel-vacation-request="handleDeletionConfirmation"
                @update:show-more-dialog="handleUpdateModelVisibility"
                :isErrorOccurred="isErrorOccurred"
                :vacationRequestList="vacationRequestList"
                @refetch-data="handleRefetchData"
            />
            <PaginatorComponent :pageSize="pageSize" :totalElements="totalItems" @page-change="handlePageChange" @page-size-change="handlePageSizeChange" />
            <ConfirmPopup></ConfirmPopup>
        </div>
    </Loading>
</template>

<style scoped>
.dialog-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
</style>
