<script setup lang="ts">
import * as yup from 'yup';
import { useField, useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';

import { useI18n } from 'vue-i18n';
import type { ProjectType } from '@/types/projectType';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
const { t } = useI18n();

const schema = toTypedSchema(
    yup.object({
        projectName: yup.string().required(t('ProjectNameFormError'))
    })
);

/**
 * * Composable
 */

const { handleSubmit, isSubmitting, handleReset } = useForm({
    validationSchema: schema
});

const { value: selectedProjectName, errorMessage: projectNameError } = useField<string>('projectName');

/**
 * * DefineEmits
 */

const emits = defineEmits<{
    (e: 'submit-form', formValues: ProjectType): void;
}>();

/**
 * * Methods
 */

const onSubmit = handleSubmit((values: ProjectType) => {
    emits('submit-form', values);
    handleReset();
});
</script>

<template>
    <form @submit.prevent="onSubmit">
        <div class="p-fluid">
            <div class="field">
                <label for="addProjectLabel">{{ t('addProjectLabel') }}</label>
                <InputText :class="{ 'p-invalid': !!projectNameError }" type="text" id="addProjectLabel" v-model="selectedProjectName" :placeholder="t('addProjectLabel')" />
                <small class="p-error" v-show="projectNameError">{{ t('ProjectNameFormError') }}</small>
            </div>
            <div class="justify-content-center flex">
                <Button type="submit" :label="t('addProject')" :disabled="isSubmitting" class="pt-3 mb-5 mt-4"></Button>
            </div>
        </div>
    </form>
</template>

<style scoped>
.btn-style {
    width: 50%;
}
</style>
