<script setup lang="ts">
import { computed, onMounted, reactive, ref, watch, watchEffect } from 'vue';
import { onBeforeRouteLeave } from 'vue-router';

import 'moment/locale/fr';
import moment, { type Moment } from 'moment';

import InputNumber from 'primevue/inputnumber';
import Button from 'primevue/button';
import ConfirmDialog from 'primevue/confirmdialog';
import Dialog from 'primevue/dialog';
import Dropdown from 'primevue/dropdown';
import Menu from 'primevue/menu';

import type { NavigationGuardNext } from 'vue-router';
import type { InputNumberBlurEvent } from 'primevue/inputnumber';
import type { UserRoleType } from '@/types/userTypes';
import type { ExportType } from '@/types/exportType';
import { IMPUTATION_MONTHLY_STATUS, ROLE, IMPUTATION_TYPE, MANAGER_RESPONSE, TIMESHEET_COLUMN_DAY, EXPORT_TYPE, VACATION_TIME, VACATION_DAY_HOURS } from '@/constants/constant';

import { TimesheetInputRowType } from '@/constants/constant';
import type {
    TimesheetEntry,
    TimesheetInputType,
    DaysErrorsMessage,
    FormattedTimesheetMonthlyStatus,
    TimesheetData,
    ImputationTimesheetDraft,
    LastWeekOfMonthEntries,
    WeeklySaveType,
    OffProjectType,
    PublicHolidayType,
    ProjectEntry,
    MonthlyTimesheetValidationType,
    ManagerResponseType,
    MonthlyTimesheetStatusType
} from '@/types/imputationTypes';

import TimesheetSkeleton from '@/components/TimesheetSkeleton.vue';
import Loading from '@/components/Loading.vue';
import RadioButton from 'primevue/radiobutton';

import { useConfirm } from 'primevue/useconfirm';
import { useI18n } from 'vue-i18n';
import type { VacationRequestDatesList } from '@/types/vacationRequestType';

const { t } = useI18n();
const confirm = useConfirm();

type propType = {
    imputationEntriesRawData: TimesheetData[];
    formattedMonthlyStatus: FormattedTimesheetMonthlyStatus[];
    publicHoliday: PublicHolidayType[];
    isFirstFetchDone: boolean;
    isSecondFetchDone: boolean;
    offProjects: OffProjectType[];
    monthlyTimesheetValidationResponse: MonthlyTimesheetValidationType | undefined;
    isErrorOccurred: boolean;
    imputationRequestId: string | null | undefined;
    userRole: UserRoleType;
    month: number | undefined | null;
    year: number | undefined | null;
    approvedVacationRequestDatesList: VacationRequestDatesList[];
};
/**
 * * Props (defineProps)
 */
const props = defineProps<propType>();
/**
 * * Emits (defineEmits)
 */
const emits = defineEmits<{
    (e: 'fetch-new-week', startDayOfWeek: string, endDayOfWeek: string, month: number, year: number): void;
    (e: 'save-draft-weekly-imputation', startWeekDate: string, endWeekDate: string, weeklyDraftData: ImputationTimesheetDraft[]): void;
    (e: 'send-month-for-approval', startWeekDate: string, endWeekDate: string, lastWeekOfMonth: LastWeekOfMonthEntries[], monthToApprove: number, yearToApprove: number): void;
    (e: 'export-timesheet', month: number, year: number, fileType: ExportType): void;
    (e: 'send-manager-response', managerResponse: ManagerResponseType, imputationRequestId: string | null, startDayOfWeek: string, endDayOfWeek: string, month: number, year: number): void;
}>();

/**
 * * Reactive variables
 */
const initialFetchDone = ref<boolean>(false);
const offProjectDialogVisible = ref<boolean>(false);
const isUnsavedModification = ref<boolean>(false);
const isMonthToApproveDialogVisible = ref<boolean>(false);
const imputationEntry = ref<TimesheetEntry[]>([]);
const vacationEntry = ref<TimesheetEntry[]>([]);
const imputationEntriesToSave = ref<ImputationTimesheetDraft[]>([]);
const monthlyTimesheetValidationDialogVisible = ref<boolean>();
const isLastDayOfMonth = ref<boolean>(false);
const weekNumber = ref<number>(0);
const titleFormattedStartDate = ref();
const titleFormattedEndDate = ref();
const selectedTimesheetDropdownRow = ref<OffProjectType>();
const formattedDaysOfWeek = ref<string[]>([]);
const isoFormatDaysOfWeek = ref<string[]>([]);
const offProjects = ref<OffProjectType[]>([]);
const deletedOffProject = ref<OffProjectType[]>([]);
const daysErrorMessage = reactive<DaysErrorsMessage>({
    mondayEntryError: undefined,
    tuesdayEntryError: undefined,
    wednesdayEntryError: undefined,
    thursdayEntryError: undefined,
    fridayEntryError: undefined
});
const isWeekDaysDisabled = ref<boolean[]>([]);
const monthToApproveChoices = ref<[{ monthNumber: number; monthName: string; monthYear: number }?, { monthNumber: number; monthName: string; monthYear: number }?]>([]);
const selectedMonthToApprove = ref<{ monthNumber: number; monthYear: number } | undefined>();
const selectedExportType = ref<ExportType>();
const startDateOfWeek = ref<Moment | undefined>();
const endDateOfWeek = ref<Moment | undefined>();
const isNextWeekNavigationButtonDisabled = ref<boolean>(false);
const isPreviousWeekNavigationButtonDisabled = ref<boolean>(false);
const menu = ref();
const monthlyTimesheetStatus = ref<MonthlyTimesheetStatusType>();
const isAddOffProjectButtonShown = ref<boolean>(true);
const isSelectMonthToExportDialogVisible = ref<boolean>(false);
const items = ref([
    {
        label: t('exportToBtnLabel'),
        items: [
            {
                label: 'PDF',
                icon: 'pi pi-file-pdf',
                command: () => {
                    selectedExportType.value = EXPORT_TYPE.PDF;
                    handleExportTimesheet();
                }
            },
            {
                label: 'Excel',
                icon: 'pi pi-file-excel',
                command: () => {
                    selectedExportType.value = EXPORT_TYPE.EXCEL;
                    handleExportTimesheet();
                }
            }
        ]
    }
]);

/**
 * * Computeds
 */
const calculateTimesheetTotalHours = computed(() => {
    return imputationEntry.value
        .map((timesheetEntry) => timesheetEntry.projectTotalHours)
        .reduce((totalHours, nextProject) => {
            return totalHours + nextProject;
        }, 0);
});
const isValidTimesheet = computed(() => {
    return daysErrorMessage.mondayEntryError || daysErrorMessage.tuesdayEntryError || daysErrorMessage.wednesdayEntryError || daysErrorMessage.thursdayEntryError || daysErrorMessage.fridayEntryError;
});

const isApprovedMonthlyTimesheetStatus = computed(() => {
    return monthlyTimesheetStatus.value === IMPUTATION_MONTHLY_STATUS.APPROVED;
});
const isPendingMonthlyTimesheetStatus = computed(() => {
    return monthlyTimesheetStatus.value === IMPUTATION_MONTHLY_STATUS.PENDING;
});
const isRejectedMonthlyTimesheetStatus = computed(() => {
    return monthlyTimesheetStatus.value === IMPUTATION_MONTHLY_STATUS.REJECTED;
});

/**
 * * Methods
 */

const validateTotalDayHours = (day: TimesheetInputType) => {
    const dayTotalHours = calculatePerDayTotalHours(day);
    if (dayTotalHours === undefined) {
        daysErrorMessage[`${day}Error`] = false;
    }
    if (dayTotalHours !== undefined) {
        if (dayTotalHours >= 8 && dayTotalHours <= 10) {
            daysErrorMessage[`${day}Error`] = false;
        } else {
            daysErrorMessage[`${day}Error`] = true;
        }
    }
};

const addTimesheetRow = (newRow: OffProjectType, isoDaysOfWeek: string[]) => {
    let timesheetNewRow: TimesheetEntry = {
        assignationId: newRow.assignationId,
        project: newRow.project,
        mondayEntry: { date: undefined, value: undefined, entryDisabled: false },
        tuesdayEntry: { date: undefined, value: undefined, entryDisabled: false },
        wednesdayEntry: { date: undefined, value: undefined, entryDisabled: false },
        thursdayEntry: { date: undefined, value: undefined, entryDisabled: false },
        fridayEntry: { date: undefined, value: undefined, entryDisabled: false },
        projectTotalHours: 0,
        offProject: true
    };
    TimesheetInputRowType.forEach((dayEntry, idx) => {
        timesheetNewRow[dayEntry].date = isoDaysOfWeek[idx];
    });
    imputationEntry.value.push(timesheetNewRow);
};

const handleRowDeletion = (id: number | undefined) => {
    imputationEntry.value = imputationEntry.value.filter((imput: TimesheetEntry) => imput.assignationId !== id);
    const offProjectElement = deletedOffProject.value.find((el) => el.project.projectId === id);
    if (offProjectElement !== undefined) offProjects.value?.push(offProjectElement);
};

const calculatePerProjectTotalHours = (imputationLineNumber: number, entryType: 'VACATION' | 'PROJECT'): number => {
    let projectTotalHours: number = 0;
    if (entryType === 'PROJECT') {
        for (const day of TimesheetInputRowType) {
            if (imputationEntry.value[imputationLineNumber] !== undefined && day in imputationEntry.value[imputationLineNumber] && typeof imputationEntry.value[imputationLineNumber][day].value === 'number') {
                projectTotalHours += imputationEntry.value![imputationLineNumber][day].value;
            }
        }
        imputationEntry.value[imputationLineNumber].projectTotalHours = projectTotalHours;
    } else {
        for (const day of TimesheetInputRowType) {
            if (vacationEntry.value[imputationLineNumber] !== undefined && day in vacationEntry.value[imputationLineNumber] && typeof vacationEntry.value[imputationLineNumber][day].value === 'number') {
                projectTotalHours += vacationEntry.value[imputationLineNumber][day].value;
            }
        }
        vacationEntry.value[imputationLineNumber].projectTotalHours = projectTotalHours;
    }
    return projectTotalHours;
};

const calculatePerDayTotalHours = (selectedDayEntry: TimesheetInputType) => {
    let total: number | undefined;
    const imputationTotalHours = imputationEntry.value
        .map((el) => {
            return el[selectedDayEntry].value;
        })
        .reduce((totalHrs, currentVal) => {
            if (currentVal !== undefined && totalHrs !== undefined) {
                return totalHrs + currentVal;
            }
            return totalHrs;
        }, 0);
    const vacationTotalHours = vacationEntry.value
        .map((el) => {
            return el[selectedDayEntry].value;
        })
        .reduce((totalHrs, currentVal) => {
            if (currentVal !== undefined && totalHrs !== undefined) {
                return totalHrs + currentVal;
            }
            return totalHrs;
        }, 0);
    if (imputationTotalHours || vacationTotalHours) {
        total = 0;
        if (imputationTotalHours) total += imputationTotalHours;
        if (vacationTotalHours) total += vacationTotalHours;
    }
    return total;
};
const handleFormatImputationEntry = (event: InputNumberBlurEvent, imputationLineNumber: number, timesheetInputRow: TimesheetInputType) => {
    const inputEntry = parseFloat(event.value);
    if (isNaN(inputEntry)) imputationEntry.value[imputationLineNumber][timesheetInputRow].value = undefined;
    else imputationEntry.value[imputationLineNumber][timesheetInputRow].value = roundToNearestHalf(inputEntry);
    calculatePerProjectTotalHours(imputationLineNumber, 'PROJECT');
};

const roundToNearestHalf = (num: number): number => {
    const calculatedTotal = Math.round(num / 0.5) * 0.5;
    if (calculatedTotal >= 10) return 10;
    else if (calculatedTotal <= 0) return 0;
    else return calculatedTotal;
};

const handleSelectMonthToApprove = (startWeekMonthNumber: number, endWeekMonthNumber: number, startWeekYear: number, endWeekYear: number) => {
    monthToApproveChoices.value = [];
    selectedMonthToApprove.value = { monthNumber: startWeekMonthNumber, monthYear: startWeekYear };
    monthToApproveChoices.value.push({ monthName: moment(startWeekMonthNumber, 'M').format('MMMM'), monthNumber: startWeekMonthNumber, monthYear: startWeekYear });
    monthToApproveChoices.value.push({ monthName: moment(endWeekMonthNumber, 'M').format('MMMM'), monthNumber: endWeekMonthNumber, monthYear: endWeekYear });
};

const saveImputationEntry = (saveType: WeeklySaveType) => {
    let canSendForApproval: boolean = false;
    imputationEntriesToSave.value = [];
    imputationEntry.value.forEach((projectEntry) => {
        if (typeof projectEntry.assignationId === 'number') {
            let assignedProjectData: ProjectEntry = {
                assignationId: projectEntry.assignationId,
                timesheetEntries: []
            };
            if (props.month && props.year && moment(projectEntry[TIMESHEET_COLUMN_DAY.MONDAY]?.date).month() !== moment(projectEntry[TIMESHEET_COLUMN_DAY.FRIDAY]?.date).month() && saveType == IMPUTATION_TYPE.APPROVAL) {
                canSendForApproval = true;
                selectedMonthToApprove.value = { monthNumber: Number(props.month), monthYear: Number(props.year) };
            } else if (moment(projectEntry[TIMESHEET_COLUMN_DAY.MONDAY]?.date).month() !== moment(projectEntry[TIMESHEET_COLUMN_DAY.FRIDAY]?.date).month() && saveType == IMPUTATION_TYPE.APPROVAL) {
                handleSelectMonthToApprove(
                    moment(projectEntry[TIMESHEET_COLUMN_DAY.MONDAY]?.date).month() + 1,
                    moment(projectEntry[TIMESHEET_COLUMN_DAY.FRIDAY]?.date).month() + 1,
                    moment(projectEntry[TIMESHEET_COLUMN_DAY.MONDAY]?.date).year(),
                    moment(projectEntry[TIMESHEET_COLUMN_DAY.FRIDAY]?.date).year()
                );
                isMonthToApproveDialogVisible.value = true;
            } else {
                canSendForApproval = true;
                selectedMonthToApprove.value = { monthNumber: moment(projectEntry[TIMESHEET_COLUMN_DAY.MONDAY]?.date).month() + 1, monthYear: moment(projectEntry[TIMESHEET_COLUMN_DAY.MONDAY]?.date).year() };
            }
            TimesheetInputRowType.forEach((dayEntry) => {
                if (projectEntry[dayEntry]?.value !== undefined) {
                    const value = projectEntry[dayEntry].value;
                    const date = projectEntry[dayEntry].date;
                    if (typeof value === 'number' && typeof date === 'string')
                        assignedProjectData.timesheetEntries.push({
                            entryDate: date,
                            entryValue: value
                        });
                }
            });
            imputationEntriesToSave.value.push(assignedProjectData);
        }
    });

    if (saveType === IMPUTATION_TYPE.DRAFT && startDateOfWeek.value && endDateOfWeek.value) emits('save-draft-weekly-imputation', startDateOfWeek.value.format('yyyy-MM-DD'), endDateOfWeek.value.format('yyyy-MM-DD'), imputationEntriesToSave.value);
    else if (saveType === IMPUTATION_TYPE.APPROVAL && canSendForApproval && startDateOfWeek.value && endDateOfWeek.value && selectedMonthToApprove.value !== undefined)
        emits('send-month-for-approval', startDateOfWeek.value.format('yyyy-MM-DD'), endDateOfWeek.value.format('yyyy-MM-DD'), imputationEntriesToSave.value, selectedMonthToApprove.value.monthNumber, selectedMonthToApprove.value.monthYear);
};

const handleSendMonthForApproval = () => {
    if (selectedMonthToApprove.value !== undefined && startDateOfWeek.value && endDateOfWeek.value)
        emits('send-month-for-approval', startDateOfWeek.value.format('yyyy-MM-DD'), endDateOfWeek.value.format('yyyy-MM-DD'), imputationEntriesToSave.value, selectedMonthToApprove.value.monthNumber, selectedMonthToApprove.value.monthYear);
};
const checkDayDisabled = (projectStartDate: string, projectEndDate: string | null, weeklyDate: string) => {
    if (projectEndDate && weeklyDate) return moment(weeklyDate).isBefore(projectStartDate) || moment(weeklyDate).isAfter(projectEndDate);
};
const formatImputationRawData = (data: TimesheetData[], isoFormatDaysOfWeek: string[]) => {
    imputationEntry.value = [];
    vacationEntry.value = [];
    data.forEach((entry: TimesheetData, idx) => {
        let newImputationEntry: TimesheetEntry = {
            assignationId: entry.assignationId,
            startDate: entry.startDate,
            endDate: entry.endDate,
            project: {
                projectId: entry.project.projectId,
                projectName: entry.project.projectName
            },
            mondayEntry: { date: undefined, value: undefined, entryDisabled: false },
            tuesdayEntry: { date: undefined, value: undefined, entryDisabled: false },
            wednesdayEntry: { date: undefined, value: undefined, entryDisabled: false },
            thursdayEntry: { date: undefined, value: undefined, entryDisabled: false },
            fridayEntry: { date: undefined, value: undefined, entryDisabled: false },
            projectTotalHours: 0,
            offProject: false
        };

        TimesheetInputRowType.forEach((dayEntry, idx) => {
            newImputationEntry[dayEntry].date = isoFormatDaysOfWeek[idx];
            if (entry.startDate && entry.endDate) newImputationEntry[dayEntry].entryDisabled = checkDayDisabled(entry.startDate, entry.endDate, isoFormatDaysOfWeek[idx]);
        });

        if (entry.timesheetEntries && entry.timesheetEntries.length > 0 && entry.timesheetEntries !== null)
            entry.timesheetEntries.forEach((imputationEntry) => {
                if (moment(imputationEntry.entryDate).isSame(isoFormatDaysOfWeek[0])) {
                    newImputationEntry.mondayEntry.value = imputationEntry.entryValue;
                }
                if (moment(imputationEntry.entryDate).isSame(isoFormatDaysOfWeek[1])) {
                    newImputationEntry.tuesdayEntry.value = imputationEntry.entryValue;
                }
                if (moment(imputationEntry.entryDate).isSame(isoFormatDaysOfWeek[2])) {
                    newImputationEntry.wednesdayEntry.value = imputationEntry.entryValue;
                }
                if (moment(imputationEntry.entryDate).isSame(isoFormatDaysOfWeek[3])) {
                    newImputationEntry.thursdayEntry.value = imputationEntry.entryValue;
                }
                if (moment(imputationEntry.entryDate).isSame(isoFormatDaysOfWeek[4])) {
                    newImputationEntry.fridayEntry.value = imputationEntry.entryValue;
                }
            });
        imputationEntry.value.push(newImputationEntry);
        newImputationEntry.projectTotalHours = calculatePerProjectTotalHours(idx, 'PROJECT');
    });

    props.approvedVacationRequestDatesList.forEach((vacationType) => {
        let newVacationEntry: TimesheetEntry;
        const leaveEntry = vacationEntry.value.find((vacation) => vacation.project.projectName === vacationType.vacationRequestType);

        if (leaveEntry !== undefined) {
            newVacationEntry = leaveEntry;
        } else {
            newVacationEntry = {
                assignationId: undefined,
                startDate: undefined,
                endDate: undefined,
                project: {
                    projectId: Math.random(),
                    projectName: vacationType.vacationRequestType
                },
                mondayEntry: { date: undefined, value: undefined, entryDisabled: true },
                tuesdayEntry: { date: undefined, value: undefined, entryDisabled: true },
                wednesdayEntry: { date: undefined, value: undefined, entryDisabled: true },
                thursdayEntry: { date: undefined, value: undefined, entryDisabled: true },
                fridayEntry: { date: undefined, value: undefined, entryDisabled: true },
                projectTotalHours: 0,
                offProject: false
            };
        }
        TimesheetInputRowType.forEach((timesheetDate, idx) => {
            newVacationEntry[timesheetDate].date = isoFormatDaysOfWeek[idx];
        });
        if (vacationType.dates.length > 0) {
            vacationType.dates.forEach((vacationDate, index) => {
                if (moment(vacationDate).isSame(isoFormatDaysOfWeek[0], 'day')) {
                    if (index === 0 && moment(vacationDate).hour() === VACATION_TIME.EVENING) {
                        if (typeof newVacationEntry.mondayEntry.value === 'number') newVacationEntry.mondayEntry.value = newVacationEntry.mondayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.mondayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else if (index === vacationType.dates.length && moment(vacationDate).hour() === VACATION_TIME.MORNING) {
                        if (typeof newVacationEntry.mondayEntry.value === 'number') newVacationEntry.mondayEntry.value = newVacationEntry.mondayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.mondayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else {
                        newVacationEntry.mondayEntry.value = VACATION_DAY_HOURS.FULL;
                    }
                }
                if (moment(vacationDate).isSame(isoFormatDaysOfWeek[1], 'day')) {
                    if (index === 0 && moment(vacationDate).hour() === VACATION_TIME.EVENING) {
                        if (typeof newVacationEntry.tuesdayEntry.value === 'number') newVacationEntry.tuesdayEntry.value = newVacationEntry.tuesdayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.tuesdayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else if (index === vacationType.dates.length - 1 && moment(vacationDate).hour() === VACATION_TIME.MORNING) {
                        if (typeof newVacationEntry.tuesdayEntry.value === 'number') newVacationEntry.tuesdayEntry.value = newVacationEntry.tuesdayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.tuesdayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else {
                        newVacationEntry.tuesdayEntry.value = VACATION_DAY_HOURS.FULL;
                    }
                }
                if (moment(vacationDate).isSame(isoFormatDaysOfWeek[2], 'day')) {
                    if (index === 0 && moment(vacationDate).hour() === VACATION_TIME.EVENING) {
                        if (typeof newVacationEntry.wednesdayEntry.value === 'number') newVacationEntry.wednesdayEntry.value = newVacationEntry.wednesdayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.wednesdayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else if (index === vacationType.dates.length - 1 && moment(vacationDate).hour() === VACATION_TIME.MORNING) {
                        if (typeof newVacationEntry.wednesdayEntry.value === 'number') newVacationEntry.wednesdayEntry.value = newVacationEntry.wednesdayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.wednesdayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else {
                        newVacationEntry.wednesdayEntry.value = VACATION_DAY_HOURS.FULL;
                    }
                }
                if (moment(vacationDate).isSame(isoFormatDaysOfWeek[3], 'day')) {
                    if (index === 0 && moment(vacationDate).hour() === VACATION_TIME.EVENING) {
                        if (typeof newVacationEntry.thursdayEntry.value === 'number') newVacationEntry.thursdayEntry.value = newVacationEntry.thursdayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.thursdayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else if (index === vacationType.dates.length - 1 && moment(vacationDate).hour() === VACATION_TIME.MORNING) {
                        if (typeof newVacationEntry.thursdayEntry.value === 'number') newVacationEntry.thursdayEntry.value = newVacationEntry.thursdayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.thursdayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else {
                        newVacationEntry.thursdayEntry.value = VACATION_DAY_HOURS.FULL;
                    }
                }
                if (moment(vacationDate).isSame(isoFormatDaysOfWeek[4], 'day')) {
                    if (index === 0 && moment(vacationDate).hour() === VACATION_TIME.EVENING) {
                        if (typeof newVacationEntry.fridayEntry.value === 'number') newVacationEntry.fridayEntry.value = newVacationEntry.fridayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.fridayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else if (index === vacationType.dates.length - 1 && moment(vacationDate).hour() === VACATION_TIME.MORNING) {
                        if (typeof newVacationEntry.fridayEntry.value === 'number') newVacationEntry.fridayEntry.value = newVacationEntry.fridayEntry.value + VACATION_DAY_HOURS.HALF;
                        else newVacationEntry.fridayEntry.value = VACATION_DAY_HOURS.HALF;
                    } else {
                        newVacationEntry.fridayEntry.value = VACATION_DAY_HOURS.FULL;
                    }
                }
            });
        }
        if (leaveEntry === undefined) vacationEntry.value.push(newVacationEntry);
        else
            vacationEntry.value = vacationEntry.value.map((entry) => {
                if (entry.project.projectName === newVacationEntry.project.projectName) return newVacationEntry;
                return entry;
            });
        newVacationEntry.projectTotalHours = calculatePerProjectTotalHours(vacationEntry.value.length - 1, 'VACATION');
    });
};

const removeTimesheetSelectedDropdownRow = (id: number) => {
    const offProjectElement = offProjects.value.find((el) => el.project.projectId === id);
    offProjects.value = offProjects.value.filter((el) => el.project.projectId !== id);
    if (offProjectElement !== undefined) deletedOffProject.value?.push(offProjectElement);
    selectedTimesheetDropdownRow.value = undefined;
};

const checkDayStatus = (day: Moment): boolean => {
    if (props.userRole === ROLE.MANAGER) {
        return true;
    } else if (props.userRole === ROLE.COLLABORATOR) {
        const matchingMonthlyTimesheet = props.formattedMonthlyStatus
            .filter((monthlyTimesheet) => monthlyTimesheet.timesheetMonth === Number(props.month) && monthlyTimesheet.timesheetYear === Number(props.year))
            .sort((a, b) => {
                const dateA = a.createdAt ? new Date(a.createdAt) : new Date(0);
                const dateB = b.createdAt ? new Date(b.createdAt) : new Date(0);
                return dateB.getTime() - dateA.getTime();
            })[0];
        if (props.month && props.year) {
            if (matchingMonthlyTimesheet) {
                if (matchingMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.REJECTED && moment(day).month() + 1 === Number(props.month)) {
                    return false;
                } else {
                    return true;
                }
            } else if (moment(day).month() + 1 !== Number(props.month)) {
                return true;
            }
        } else {
            if (matchingMonthlyTimesheet && (matchingMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.APPROVED || matchingMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.PENDING)) {
                return true;
            }
        }
    }
    if (props.approvedVacationRequestDatesList.length > 0) {
        return props.approvedVacationRequestDatesList
            .map((requestObject) => {
                return {
                    ...requestObject,
                    dates: requestObject.dates.filter((date, index) => {
                        if (index === 0 && moment(date).hour() === VACATION_TIME.EVENING) return false;
                        else if (index === requestObject.dates.length - 1 && moment(date).hour() === VACATION_TIME.MORNING) return false;
                        return true;
                    })
                };
            })
            .flatMap((requestObject) => requestObject.dates)
            .map((el) => new Date(el))
            .some((approvedVacationRequestDate: Date) => {
                return moment(approvedVacationRequestDate).isSame(day, 'day');
            });
    }
    return props.publicHoliday.some((publicHolidayDay) => moment(publicHolidayDay.publicDayDate).isSame(day));
};

const getWeekDays = (numOfWeeks: number) => {
    isLastDayOfMonth.value = false;
    formattedDaysOfWeek.value = [];
    isoFormatDaysOfWeek.value = [];
    isWeekDaysDisabled.value = [];
    if (props.month && props.year) {
        const month = Number(props.month) - 1;
        const year = Number(props.year);
        const startDateOfMonth = moment({ year, month }).startOf('month').add(numOfWeeks, 'weeks');
        if (startDateOfMonth.weekday() === 5 || startDateOfMonth.weekday() === 6) {
            startDateOfWeek.value = moment({ year, month })
                .startOf('week')
                .add(numOfWeeks + 1, 'weeks');
        } else startDateOfWeek.value = moment({ year, month }).startOf('week').add(numOfWeeks, 'weeks');
    } else {
        startDateOfWeek.value = moment().startOf('week').add(numOfWeeks, 'weeks');
    }
    endDateOfWeek.value = startDateOfWeek.value.clone().add(4, 'days');
    titleFormattedStartDate.value = startDateOfWeek.value.format('DD MMM');
    titleFormattedEndDate.value = startDateOfWeek.value.clone().add(4, 'days').format('DD MMM YYYY');

    if (props.month && props.year) {
        const targetMonth = Number(props.month);
        const targetYear = Number(props.year);
        const isStartOfMonth = (day: moment.Moment) => day.isSame(day.clone().startOf('month'), 'day') && moment(day).month() + 1 === targetMonth && moment(day).year() === targetYear;
        const isEndOfMonth = (day: moment.Moment) => day.isSame(day.clone().endOf('month'), 'day') && moment(day).month() + 1 === targetMonth && moment(day).year() === targetYear;
        const startDateMinusTwoDays = moment(startDateOfWeek.value).subtract(2, 'd');

        if (startDateMinusTwoDays.isSameOrBefore(startDateOfWeek.value.clone().startOf('month'), 'day')) {
            isPreviousWeekNavigationButtonDisabled.value = true;
        }
        for (let i = 0; i < 7; i++) {
            const day = startDateOfWeek.value.clone().add(i, 'days');

            if (isStartOfMonth(day)) {
                isPreviousWeekNavigationButtonDisabled.value = true;
            }

            if (isEndOfMonth(day)) {
                isNextWeekNavigationButtonDisabled.value = true;
            }

            if (i < 5) {
                const formattedDayOfWeek = day.format('yyyy-MM-DD');
                const formattedDay = day.format('ddd, D MMM');
                isoFormatDaysOfWeek.value.push(formattedDayOfWeek);
                formattedDaysOfWeek.value.push(formattedDay);
            }
        }

        const daysToCheckStatus = Array.from({ length: 5 }, (_, i) => startDateOfWeek.value!.clone().add(i, 'days'));
        isWeekDaysDisabled.value = daysToCheckStatus.map((day) => {
            return checkDayStatus(day);
        });
    } else {
        for (let i = 0; i < 5; i++) {
            const day = startDateOfWeek.value.clone().add(i, 'days');
            const formattedDayOfWeek = day.format('yyyy-MM-DD');
            const formattedDay = day.format('ddd, D MMM');
            isoFormatDaysOfWeek.value.push(formattedDayOfWeek);
            formattedDaysOfWeek.value.push(formattedDay);
            isWeekDaysDisabled.value?.push(checkDayStatus(day));
        }
    }
    emits('fetch-new-week', startDateOfWeek.value.format('yyyy-MM-DD'), endDateOfWeek.value.format('yyyy-MM-DD'), startDateOfWeek.value.month() + 1, startDateOfWeek.value.year());
};

const handleSaveDraft = () => {
    isUnsavedModification.value = false;
    if (isValidTimesheet.value) return;
    saveImputationEntry(IMPUTATION_TYPE.DRAFT);
};
const toggle = (event: Event) => {
    menu.value.toggle(event);
};
const handleSaveMonth = () => {
    isUnsavedModification.value = false;
    if (isValidTimesheet.value) return;
    saveImputationEntry(IMPUTATION_TYPE.APPROVAL);
};
const handleExportTimesheet = () => {
    if (typeof props.month === 'number' && typeof props.year === 'number' && !isNaN(props.month) && !isNaN(props.year) && selectedExportType.value !== undefined) {
        emits('export-timesheet', props.month, props.year, selectedExportType.value);
    } else if (startDateOfWeek.value && endDateOfWeek.value && selectedExportType.value !== undefined) {
        const weekStartDateMonth = startDateOfWeek.value.month() + 1;
        const weekEndDateMonth = endDateOfWeek.value.month() + 1;
        const weekStartDateYear = startDateOfWeek.value.year();
        const weekEndDateYear = endDateOfWeek.value.year();
        if (weekStartDateMonth === weekEndDateMonth) {
            emits('export-timesheet', weekStartDateMonth, weekStartDateYear, selectedExportType.value);
        } else {
            handleSelectMonthToApprove(weekStartDateMonth, weekEndDateMonth, weekStartDateYear, weekEndDateYear);
            isSelectMonthToExportDialogVisible.value = true;
        }
    }
};

const handleExportTimesheetFromSelectedMonth = () => {
    if (selectedMonthToApprove.value && selectedExportType.value) emits('export-timesheet', selectedMonthToApprove.value.monthNumber, selectedMonthToApprove.value.monthYear, selectedExportType.value);
    isSelectMonthToExportDialogVisible.value = false;
};

const handleInvalidEntriesCode = (entryErrorCode: number) => {
    return t(`monthlyTimesheetValidationError[${entryErrorCode}]`);
};

const handleManagerRequestApproval = (managerResponse: ManagerResponseType) => {
    if (props.imputationRequestId && startDateOfWeek.value && endDateOfWeek.value)
        emits('send-manager-response', managerResponse, props.imputationRequestId, startDateOfWeek.value.format('yyyy-MM-DD'), endDateOfWeek.value.format('yyyy-MM-DD'), startDateOfWeek.value.month() + 1, startDateOfWeek.value.year());
};

const isMonthStatusApproved = () => {
    let isApproved: boolean = false;
    if (props.month && props.year && props.formattedMonthlyStatus) {
        const currentMonthlyTimesheet = props.formattedMonthlyStatus
            .filter((monthlyTimesheet) => monthlyTimesheet.timesheetMonth === Number(props.month) && monthlyTimesheet.timesheetYear === Number(props.year))
            .sort((a, b) => {
                const dateA = a.createdAt ? new Date(a.createdAt) : new Date(0);
                const dateB = b.createdAt ? new Date(b.createdAt) : new Date(0);
                return dateB.getTime() - dateA.getTime();
            })[0];
        if (currentMonthlyTimesheet) {
            if (props.userRole === ROLE.MANAGER && (currentMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.APPROVED || currentMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.REJECTED)) {
                monthlyTimesheetStatus.value = currentMonthlyTimesheet.monthStatus;
                isApproved = true;
            } else if (props.userRole === ROLE.COLLABORATOR && (currentMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.APPROVED || currentMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.PENDING)) {
                isAddOffProjectButtonShown.value = false;
                monthlyTimesheetStatus.value = currentMonthlyTimesheet.monthStatus;
                isApproved = true;
            } else if (props.userRole === ROLE.COLLABORATOR && currentMonthlyTimesheet.monthStatus === IMPUTATION_MONTHLY_STATUS.REJECTED) {
                monthlyTimesheetStatus.value = currentMonthlyTimesheet.monthStatus;
                isApproved = false;
            }
        }
    }
    return isApproved;
};

/**
 * * Watchers
 */

watchEffect(() => {
    TimesheetInputRowType.map((day) => {
        validateTotalDayHours(day);
    });
});

watch(
    () => {
        props.imputationEntriesRawData;
        props.approvedVacationRequestDatesList;
    },
    () => {
        formatImputationRawData(props.imputationEntriesRawData, isoFormatDaysOfWeek.value);
    },
    { deep: true, immediate: true }
);
const unwatch = watch([() => props.isFirstFetchDone, () => props.isSecondFetchDone], ([firstCAll, secondCall]) => {
    const done = firstCAll && secondCall;
    initialFetchDone.value = done;
    if (done) unwatch();
});

watch([() => props.publicHoliday], () => {
    getWeekDays(0);
});

watch(
    () => props.offProjects,
    (newValue: OffProjectType[]) => {
        offProjects.value = newValue;
    }
);

watch(
    () => {
        props.monthlyTimesheetValidationResponse;
    },
    () => {
        if (!props.monthlyTimesheetValidationResponse?.success) monthlyTimesheetValidationDialogVisible.value = true;
    },
    { deep: true }
);

const confirmationDialog = (next: NavigationGuardNext) => {
    confirm.require({
        message: t('unsavedMessageText'),
        header: t('unsavedChangesHeader'),
        acceptLabel: t('yesText'),
        rejectLabel: t('noText'),
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
            next();
            isUnsavedModification.value = false;
        },
        reject: () => {
            next(false);
        }
    });
};
/**
 *  * Lifecycle Hooks
 */

onMounted(() => {
    moment.locale('fr');
    moment.updateLocale('fr', {
        week: {
            dow: 1
        }
    });
    getWeekDays(0);
    offProjects.value = props.offProjects;
});

onBeforeRouteLeave((_, _1, next: NavigationGuardNext) => {
    if (isUnsavedModification.value) {
        confirmationDialog(next);
    } else next();
});
</script>

<template>
    <div class="flex align-items-baseline justify-content-start">
        <h4>{{ t('TimesheetTitle') }}</h4>
        <div
            v-if="isMonthStatusApproved() || (props.userRole === ROLE.COLLABORATOR && monthlyTimesheetStatus === IMPUTATION_MONTHLY_STATUS.REJECTED)"
            class="label"
            :class="{
                'approve-label': isApprovedMonthlyTimesheetStatus,
                'reject-label': isRejectedMonthlyTimesheetStatus,
                'pending-label': isPendingMonthlyTimesheetStatus
            }"
        >
            <span
                class="label-icon"
                :class="{
                    'approve-icon-and-text': isApprovedMonthlyTimesheetStatus,
                    'reject-icon-and-text': isRejectedMonthlyTimesheetStatus,
                    'pending-icon-and-text': isPendingMonthlyTimesheetStatus
                }"
                >{{ isApprovedMonthlyTimesheetStatus ? '✓' : isRejectedMonthlyTimesheetStatus ? '✗' : '' }}</span
            >
            <span
                class="label-text"
                :class="{
                    'approve-icon-and-text': monthlyTimesheetStatus === IMPUTATION_MONTHLY_STATUS.APPROVED,
                    'reject-icon-and-text': monthlyTimesheetStatus === IMPUTATION_MONTHLY_STATUS.REJECTED,
                    'pending-icon-and-text': monthlyTimesheetStatus === IMPUTATION_MONTHLY_STATUS.PENDING
                }"
                >{{ monthlyTimesheetStatus ? t(`monthStatus.${monthlyTimesheetStatus}`) : '' }}</span
            >
        </div>
    </div>
    <div class="timesheet-background">
        <Loading :is-loading="initialFetchDone === true && props.isSecondFetchDone === false">
            <TimesheetSkeleton v-if="initialFetchDone === false" />
            <div v-else>
                <div class="flex justify-content-end mb-3">
                    <Button v-if="props.userRole === 'COLLABORATOR' && isAddOffProjectButtonShown" data-testid="add-timesheet-row" @click="offProjectDialogVisible = true" :label="t('addBtnLabel')" icon="pi pi-plus" severity="info" size="small" />

                    <Button data-testid="export-timesheet" size="small" outlined severity="info" class="mx-2" icon="pi pi-save" type="button" :label="t('exportBtnLabel')" @click="toggle" aria-haspopup="true" aria-controls="overlay_menu" />
                    <Menu ref="menu" id="overlay_menu" :model="items" popup />
                </div>
                <div class="flex justify-content-between mb-3">
                    <div class="flex-initial flex align-items-center justify-content-center">
                        <h5 class="pr-1 sm:pr-5 text-base sm:text-lg md:text:lg lg:text-xl font-semibold mb-0">{{ `${t('weeklyTimesheet')}, ${titleFormattedStartDate} - ${titleFormattedEndDate}` }}</h5>
                        <Button
                            text
                            plain
                            :disabled="isPreviousWeekNavigationButtonDisabled"
                            @click="
                                getWeekDays(--weekNumber);
                                isNextWeekNavigationButtonDisabled = false;
                            "
                            class="pi pi-angle-left font-semibold text-xl sm:text-2xl md:text-2xl lg:text-2xl xl:text-3xl mx-2"
                        ></Button>
                        <Button
                            text
                            plain
                            :disabled="isNextWeekNavigationButtonDisabled"
                            @click="
                                getWeekDays(++weekNumber);
                                isPreviousWeekNavigationButtonDisabled = false;
                            "
                            class="pi pi-angle-right font-semibold text-xl sm:text-2xl md:text-2xl lg:text-2xl xl:text-3xl mx-2"
                        ></Button>
                    </div>
                    <ConfirmDialog></ConfirmDialog>
                    <Dialog :draggable="false" v-model:visible="offProjectDialogVisible" modal header="Add Timesheet Row" :style="{ width: '60vw' }">
                        <Dropdown data-testid="project-dropdown" v-model="selectedTimesheetDropdownRow" :options="offProjects" optionLabel="project.projectName" placeholder="Select type" class="w-full md:w-20rem" />
                        <template #footer>
                            <Button
                                data-testid="confirm-add-timesheet-row-btn"
                                :disabled="!selectedTimesheetDropdownRow"
                                :label="t('addRowBtnLabel')"
                                size="small"
                                @click="
                                    offProjectDialogVisible = false;
                                    selectedTimesheetDropdownRow && addTimesheetRow(selectedTimesheetDropdownRow, isoFormatDaysOfWeek);
                                    selectedTimesheetDropdownRow && removeTimesheetSelectedDropdownRow(selectedTimesheetDropdownRow?.assignationId);
                                "
                                autofocus
                            />
                        </template>
                    </Dialog>
                    <Dialog :draggable="false" v-model:visible="isMonthToApproveDialogVisible" modal :header="t('SelectMonthDialogTitle')" :style="{ width: '50vw' }">
                        <div class="flex align-items-center">
                            <div
                                v-for="(choice, idx) in monthToApproveChoices"
                                :style="{ borderColor: selectedMonthToApprove?.monthNumber === choice?.monthNumber ? '#4338ca' : '#dddddd' }"
                                :key="choice?.monthNumber"
                                class="flex align-items-center m-3 radio-btn-styling"
                            >
                                <RadioButton v-model="selectedMonthToApprove" :inputId="`choice${idx}`" name="choice1" :value="{ monthNumber: choice?.monthNumber, monthYear: choice?.monthYear }" />
                                <label :for="choice?.monthNumber.toString()" class="ml-2" :key="idx">{{ choice?.monthName }}</label>
                            </div>
                        </div>
                        <template #footer>
                            <Button :label="t('cancelBtn')" icon="pi pi-times" @click="isMonthToApproveDialogVisible = false" text />
                            <Button
                                :label="t('sendForApprovalLabel')"
                                icon="pi pi-check"
                                @click="
                                    handleSendMonthForApproval();
                                    isMonthToApproveDialogVisible = false;
                                "
                                autofocus
                            />
                        </template>
                    </Dialog>
                    <Dialog :draggable="false" v-model:visible="isSelectMonthToExportDialogVisible" modal :header="t('SelectMonthDialogTitle')" :style="{ width: '50vw' }">
                        <div class="flex align-items-center">
                            <div
                                v-for="(choice, idx) in monthToApproveChoices"
                                :style="{ borderColor: selectedMonthToApprove?.monthNumber === choice?.monthNumber ? '#4338ca' : '#dddddd' }"
                                :key="choice?.monthNumber"
                                class="flex align-items-center m-3 radio-btn-styling"
                            >
                                <RadioButton v-model="selectedMonthToApprove" :inputId="`choice${idx}`" name="choice1" :value="{ monthNumber: choice?.monthNumber, monthYear: choice?.monthYear }" />
                                <label :for="choice?.monthNumber.toString()" class="ml-2" :key="idx">{{ choice?.monthName }}</label>
                            </div>
                        </div>
                        <template #footer>
                            <Button :label="t('cancelBtn')" icon="pi pi-times" @click="isSelectMonthToExportDialogVisible = false" text />
                            <Button :label="t('exportBtnLabel')" icon="pi pi-check" @click="handleExportTimesheetFromSelectedMonth()" autofocus />
                        </template>
                    </Dialog>

                    <Dialog :draggable="false" v-model:visible="monthlyTimesheetValidationDialogVisible" modal :header="t('InvalidEntries')">
                        <li v-for="(invalidDate, idx) in monthlyTimesheetValidationResponse?.invalidTimesheetEntries" :key="idx" class="mb-5 text-600 text-base font-semibold text-overflow-ellipsis">
                            {{ `${invalidDate.invalidEntryDate} - ${handleInvalidEntriesCode(invalidDate.justificationCode)}` }}
                        </li>
                    </Dialog>
                </div>
                <div class="p-grid">
                    <div class="p-col-12 mb-5 table-container rowheaders" role="region" aria-labelledby="HeadersRowCol" tabindex="0">
                        <table>
                            <tr>
                                <th scope="row" class="text-sm sm:text-sm lg:text-base fixed-left-col">{{ t('projectLabel') }}</th>
                                <th scope="row" v-for="(formattedDay, idx) in formattedDaysOfWeek" :key="idx" class="w-fit text-sm sm:text-sm lg:text-base">{{ formattedDay }}</th>

                                <th scope="row" class="text-sm sm:text-sm lg:text-base">Actions</th>
                                <th scope="row" class="text-sm sm:text-sm lg:text-base">{{ t('totalHeadingLabel') }}</th>
                            </tr>
                            <tr v-for="(imputationEntryItem, index) in imputationEntry" :key="index">
                                <td class="fixed-left-col">
                                    <span :data-testid="`project-name-span-${index}`" class="font-semibold">{{ imputationEntryItem.project.projectName }}</span>
                                </td>
                                <td>
                                    <InputNumber
                                        :step="0.5"
                                        :disabled="isWeekDaysDisabled[0] || imputationEntryItem.mondayEntry.entryDisabled"
                                        :minFractionDigits="0"
                                        :max-fraction-digits="1"
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[0] && daysErrorMessage.mondayEntryError }"
                                        :model-value="imputationEntryItem.mondayEntry.value"
                                        @blur="
                                            handleFormatImputationEntry($event, index, TIMESHEET_COLUMN_DAY.MONDAY);
                                            validateTotalDayHours(TIMESHEET_COLUMN_DAY.MONDAY);
                                            isUnsavedModification = true;
                                        "
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`monday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        :step="0.5"
                                        :disabled="isWeekDaysDisabled[1] || imputationEntryItem.tuesdayEntry.entryDisabled"
                                        :minFractionDigits="0"
                                        :max-fraction-digits="1"
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :model-value="imputationEntryItem.tuesdayEntry.value"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[1] && daysErrorMessage.tuesdayEntryError }"
                                        @blur="
                                            handleFormatImputationEntry($event, index, TIMESHEET_COLUMN_DAY.TUESDAY);
                                            validateTotalDayHours(TIMESHEET_COLUMN_DAY.TUESDAY);
                                            isUnsavedModification = true;
                                        "
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`tuesday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        :step="0.5"
                                        :disabled="isWeekDaysDisabled[2] || imputationEntryItem.wednesdayEntry.entryDisabled"
                                        :minFractionDigits="0"
                                        :max-fraction-digits="1"
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[2] && daysErrorMessage.wednesdayEntryError }"
                                        :model-value="imputationEntryItem.wednesdayEntry.value"
                                        @blur="
                                            handleFormatImputationEntry($event, index, TIMESHEET_COLUMN_DAY.WEDNESDAY);
                                            validateTotalDayHours(TIMESHEET_COLUMN_DAY.WEDNESDAY);
                                            isUnsavedModification = true;
                                        "
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`wednesday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        :step="0.5"
                                        :disabled="isWeekDaysDisabled[3] || imputationEntryItem.thursdayEntry.entryDisabled"
                                        :minFractionDigits="0"
                                        :max-fraction-digits="1"
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[3] && daysErrorMessage.thursdayEntryError }"
                                        :model-value="imputationEntryItem.thursdayEntry.value"
                                        @blur="
                                            handleFormatImputationEntry($event, index, TIMESHEET_COLUMN_DAY.THURSDAY);
                                            validateTotalDayHours(TIMESHEET_COLUMN_DAY.THURSDAY);
                                            isUnsavedModification = true;
                                        "
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`thursday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        :step="0.5"
                                        :disabled="isWeekDaysDisabled[4] || imputationEntryItem.fridayEntry.entryDisabled"
                                        :minFractionDigits="0"
                                        :max-fraction-digits="1"
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[4] && daysErrorMessage.fridayEntryError }"
                                        :model-value="imputationEntryItem.fridayEntry.value"
                                        @blur="
                                            handleFormatImputationEntry($event, index, TIMESHEET_COLUMN_DAY.FRIDAY);
                                            validateTotalDayHours(TIMESHEET_COLUMN_DAY.FRIDAY);
                                            isUnsavedModification = true;
                                        "
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`friday-input-${index}`"
                                    />
                                </td>
                                <td class="pl-5">
                                    <i :data-testid="`delete-timesheet-icon-${index}`" v-show="imputationEntryItem.offProject" @click="handleRowDeletion(imputationEntryItem.assignationId)" class="pi pi-trash"></i>
                                    <span v-show="!imputationEntryItem.offProject">--</span>
                                </td>
                                <td class="font-medium">{{ imputationEntryItem.projectTotalHours }} {{ t('hourShothand') }}</td>
                            </tr>
                            <!---------------------------------------------------------------------------------------------------------->
                            <tr v-show="vacationEntry.length > 0">
                                <th scope="row" class="text-sm sm:text-sm lg:text-base fixed-left-col">{{ t('VacationText') }}</th>
                                <th scope="row" v-for="(_, idx) in formattedDaysOfWeek" :key="idx" class="w-fit text-sm sm:text-sm lg:text-base"></th>
                                <th scope="row" class="text-sm sm:text-sm lg:text-base"></th>
                                <th scope="row" class="text-sm sm:text-sm lg:text-base"></th>
                            </tr>
                            <tr v-for="(vacationEntryItem, index) in vacationEntry" :key="index">
                                <td class="fixed-left-col">
                                    <span :data-testid="`project-name-span-${index}`" class="font-semibold">{{ vacationEntryItem.project.projectName }}</span>
                                </td>
                                <td>
                                    <InputNumber
                                        disabled
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[0] && daysErrorMessage.mondayEntryError }"
                                        :model-value="vacationEntryItem.mondayEntry.value"
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`vacation-monday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        disabled
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :model-value="vacationEntryItem.tuesdayEntry.value"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[1] && daysErrorMessage.tuesdayEntryError }"
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`vacation-tuesday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        disabled
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[2] && daysErrorMessage.wednesdayEntryError }"
                                        :model-value="vacationEntryItem.wednesdayEntry.value"
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`vacation-wednesday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        disabled
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[3] && daysErrorMessage.thursdayEntryError }"
                                        :model-value="vacationEntryItem.thursdayEntry.value"
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`vacation-thursday-input-${index}`"
                                    />
                                </td>
                                <td>
                                    <InputNumber
                                        disabled
                                        mode="decimal"
                                        suffix=" hrs"
                                        :input-style="{ width: '6.2rem', 'border-width': '2px' }"
                                        :class="{ 'p-invalid': !isWeekDaysDisabled[4] && daysErrorMessage.fridayEntryError }"
                                        :model-value="vacationEntryItem.fridayEntry.value"
                                        class="p-inputtext-sm"
                                        placeholder="hh.h"
                                        :useGrouping="false"
                                        :data-testid="`vacation-friday-input-${index}`"
                                    />
                                </td>
                                <td class="pl-5">
                                    <i :data-testid="`delete-timesheet-icon-${index}`" v-show="vacationEntryItem.offProject" @click="handleRowDeletion(vacationEntryItem.assignationId)" class="pi pi-trash"></i>
                                    <span v-show="!vacationEntryItem.offProject">--</span>
                                </td>
                                <td class="font-medium">{{ vacationEntryItem.projectTotalHours }} {{ t('hourShothand') }}</td>
                            </tr>
                            <tr class="noBorder">
                                <td v-show="imputationEntry.length > 0" class="font-base text-500 fixed-left-col">{{ t('totalHourPerDay') }}</td>
                                <td
                                    v-for="(totalValue, idx) in TimesheetInputRowType"
                                    :class="{ 'text-red-600': (calculatePerDayTotalHours(totalValue) ?? 0) < 8 || (calculatePerDayTotalHours(totalValue) ?? 0) > 10 }"
                                    :key="idx"
                                    class="text-sm sm:text-md pl-3 font-medium"
                                >
                                    {{ calculatePerDayTotalHours(totalValue) !== undefined ? `${calculatePerDayTotalHours(totalValue)} ${t('hourShothand')}` : '' }}
                                </td>
                            </tr>
                        </table>
                        <h4 class="flex font-normal text-lg text-500 align-items-center justify-content-center" v-if="imputationEntry.length === 0 && !props.isErrorOccurred">{{ t('emptyImputationWeek') }}</h4>
                        <h4 class="fixed-error-message-scrolling" v-if="props.isErrorOccurred">
                            <div class="justify-content-center flex">
                                <div class="block"><i class="block text-red-600 text-5xl pi pi-exclamation-triangle"></i></div>
                            </div>
                            <div class="justify-content-center flex">
                                <div class="block">
                                    <h4 class="text-xl mt-2">{{ t('errorFetchingMessage') }}</h4>
                                </div>
                            </div>
                            <div class="justify-content-center flex">
                                <div class="block"><Button @click="getWeekDays(weekNumber)" :label="t('reloadBtn')" severity="info" icon="pi pi-replay" size="small" /></div>
                            </div>
                        </h4>
                        <h4 v-if="imputationEntry.length > 0 && !props.isErrorOccurred" data-testid="total-week-hours" class="flex justify-content-end sticky-heading text-base lg:text-base xl:text-lg">
                            {{ $t('totalHeadingLabel') }} : {{ calculateTimesheetTotalHours }} {{ t('hourShothand') }}
                        </h4>
                        <div class="flex justify-content-end sticky-heading">
                            <Button
                                v-if="props.userRole === ROLE.COLLABORATOR && !isMonthStatusApproved() && imputationEntry.length > 0 && !props.isErrorOccurred"
                                data-testid="save-draft-btn"
                                @click="handleSaveDraft()"
                                :disabled="isValidTimesheet"
                                :label="t('saveDraftLabel')"
                                size="small"
                                type="submit"
                                class="mr-2"
                            />
                            <Button
                                v-if="props.userRole === ROLE.COLLABORATOR && !isMonthStatusApproved() && imputationEntry.length > 0 && !props.isErrorOccurred"
                                @click="handleSaveMonth"
                                :disabled="isValidTimesheet"
                                :label="t('sendForApprovalLabel')"
                                size="small"
                                type="submit"
                                severity="info"
                            />
                            <Button
                                v-if="props.userRole === ROLE.MANAGER && !isMonthStatusApproved() && !props.isErrorOccurred"
                                data-testid="save-draft-btn"
                                @click="handleManagerRequestApproval(MANAGER_RESPONSE.APPROVED)"
                                :label="t('acceptImputationBtnText')"
                                size="small"
                                type="submit"
                                class="mr-2"
                                :style="{ 'background-color': '#33a94b' }"
                                icon="pi pi-check"
                            />
                            <Button
                                v-if="props.userRole === ROLE.MANAGER && !isMonthStatusApproved() && !props.isErrorOccurred"
                                @click="handleManagerRequestApproval(MANAGER_RESPONSE.REJECTED)"
                                :label="t('rejectImputationBtnText')"
                                size="small"
                                type="submit"
                                class="approve-btn"
                                :style="{ 'background-color': '#cc2b33' }"
                                icon="pi pi-times"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </Loading>
    </div>
</template>

<style scoped>
.timesheet-background {
    background-color: white;
}
.label {
    display: inline-flex;
    align-items: center;
    padding: 0px 4px;
    border-radius: 5px;
    margin-left: 20px;
}
.approve-label {
    border: 2px solid rgb(1, 172, 1);
}
.pending-label {
    border: 2px solid orange;
    padding: 5px 4px;
    margin-bottom: auto;
}

.reject-label {
    border: 2px solid #cc2b33;
}

.label-icon {
    font-size: 20px;
    margin-right: 5px;
}

.reject-icon-and-text {
    color: #cc2b33;
}
.pending-icon-and-text {
    color: orange;
}
.approve-icon-and-text {
    color: rgb(1, 172, 1);
}

.label-text {
    font-weight: bold;
    font-size: smaller;
}
.radio-btn-styling {
    border: 1.85px solid;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
}
tr.noBorder td {
    border: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    scroll-snap-type: x mandatory;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    scroll-snap-align: start;
}

th {
    background-color: #f2f2f2;
}
.table-actions {
    text-align: center;
}

@media (max-width: 1200px) {
    .table-container {
        width: 100%;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }
    div[tabindex='0'][aria-labelledby][role='region'].rowheaders {
        background: linear-gradient(to right, transparent 10%, rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
            radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0)) 0 100%;
        background-repeat: no-repeat;
        background-color: #fff;
        background-size: 4em 100%, 4em 100%, 1.4em 100%, 1.4em 100%;
        background-position: 0 0, 100%, 0 0, 100%;
        background-attachment: local, local, scroll, scroll;
        z-index: 99999;
    }

    th,
    td {
        min-width: 85px;
    }
    .fixed-left-col {
        position: sticky;
        left: 0;
        z-index: 200;
        background-color: #f2f2f2;
    }
    .fixed-error-message-scrolling {
        position: sticky;
        left: 0;
        z-index: 200;
    }
    .fixed-right-col {
        position: sticky;
        left: 0;
        z-index: 200;
        background-color: #f2f2f2;
    }
    .sticky-heading {
        position: sticky;
        left: 0;
        z-index: 200;
    }
}

li {
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(242, 242, 242); /* Light gray background */
    border-radius: 5px;
    border: 1px solid rgb(221 221 221); /* Dark blue border */
    display: flex;
    align-items: center;
}

/* Bolder font for list items */
li span {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
}

/* Style the code portion */
li .entry-code {
    font-weight: bold;
    color: rgb(59, 130, 246); /* Blue color for the code */
}
@media (max-width: 500px) {
}
</style>
