<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Tag from 'primevue/tag';

import moment from 'moment';

import { getSeverity } from '@/utils/StatusTagSeverity';

import type { VacationRequestType } from '@/types/vacationRequestType';

import { useI18n } from 'vue-i18n';
import Button from 'primevue/button';
import { VACATION_TIME } from '@/constants/constant';

const { t } = useI18n();

type propType = {
    vacationRequestList: VacationRequestType[];
    isErrorOccurred: boolean;
};

/**
 * * DefineProps
 */

const props = defineProps<propType>();

/**
 * * Define Emits
 */
const emits = defineEmits<{
    (e: 'refetch-data'): void;
    (e: 'update:show-more-dialog', commentText: string, visible: boolean): void;
    (e: 'cancel-vacation-request', event: Event, vacationRequestId: string): void;
}>();

/**
 * * Methods
 */

const comment = (comment: string | undefined) => {
    return comment ? comment : '- -';
};

const handleUpdateTextDialog = (dialogText: string | undefined) => {
    if (dialogText) emits('update:show-more-dialog', dialogText, true);
};

const handleCancelVacationRequest = (event: Event, vacationRequestId: string) => {
    emits('cancel-vacation-request', event, vacationRequestId);
};
const vacationStartTime = (startDate: Date) => (moment(startDate).hour() === VACATION_TIME.MORNING ? t('MorningText') : t('EveningText'));
const vacationEndTime = (endDate: Date) => (moment(endDate).hour() === VACATION_TIME.EVENING ? t('EveningText') : t('MorningText'));
</script>
<template>
    <DataTable tableStyle="min-width: 100px;" style="min-height: 150px" showGridlines :value="props.vacationRequestList" stripedRows responsiveLayout="stack">
        <template #header>
            <div class="flex justify-content-start">
                <h5>{{ t('vacationListTableHeader') }}</h5>
            </div>
        </template>
        <template #empty>
            <div v-if="props.isErrorOccurred">
                <div class="justify-content-center flex">
                    <div class="block"><i class="block text-red-600 text-4xl sm:text-5xl pi pi-exclamation-triangle"></i></div>
                </div>
                <div class="justify-content-center flex">
                    <div class="block">
                        <h4 class="text-base mt-2 sm:text-xl">{{ t('errorFetchingMessage') }}</h4>
                    </div>
                </div>
                <div class="justify-content-center flex">
                    <div class="block"><Button @click="emits('refetch-data')" :label="t('reloadBtn')" severity="info" icon="pi pi-replay" size="small" /></div>
                </div>
            </div>
            <div class="my-5" v-else>
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noVacationRequestRecordsMessage') }}</h6>
                </div>
            </div>
        </template>

        <Column data-testid="vacation-request-range-col" class="text-sm sm:text-base md:text-base lg:text-base w-3" field="range" :header="t('vacationTableHeader.Range')">
            <template #body="slotProps">
                <h6 class="no-underline text-blue-700 font-semiBold">
                    {{ `${moment(slotProps.data.startDate).format('DD/MM/YYYY')} (${vacationStartTime(slotProps.data.startDate)}) - ${moment(slotProps.data.endDate).format('DD/MM/YYYY')} (${vacationEndTime(slotProps.data.endDate)}) ` }}
                </h6>
            </template>
        </Column>
        <Column data-testid="vacation-request-nb-days-col" class="text-sm sm:text-base md:text-base lg:text-base w-2" field="nbOfDays" :header="t('vacationTableHeader.nbOfDays')">
            <template #body="slotProps">
                <h6 class="font-semiBold">
                    {{ t('NbOfDays', slotProps.data.nbOfDays) }}
                </h6>
            </template>
        </Column>
        <Column data-testid="vacation-request-status-col" class="text-sm sm:text-base md:text-base lg:text-base" :header="t('vacationTableHeader.Status')">
            <template #body="slotProps">
                <Tag :value="slotProps.data.status" :severity="getSeverity(slotProps.data.status)" />
            </template>
        </Column>
        <Column data-testid="vacation-request-comment-col" class="text-sm sm:text-base md:text-base lg:text-base overflow-hidden w-2" :header="t('vacationTableHeader.Comment')">
            <template #body="slotProps">
                <h6 @click="handleUpdateTextDialog(slotProps.data.comment)" class="font-medium overflow-hidden text-overflow-ellipsis" style="width: 200px">
                    {{ comment(slotProps.data.comment) }}
                </h6>
            </template>
        </Column>
        <Column data-testid="vacation-request-nb-days-col" class="text-sm sm:text-base md:text-base lg:text-base w-1" field="nbOfDays" :header="t('vacationTableHeader.VacationType')">
            <template #body="slotProps">
                <h6 class="font-semiBold">
                    {{ `${slotProps.data.vacationType.vacationTypeName}` }}
                </h6>
            </template>
        </Column>
        <Column data-testid="vacation-request-approver-col" class="text-sm sm:text-base md:text-base lg:text-base w-2" field="approver" :header="t('vacationTableHeader.Approver')">
            <template #body="slotProps">
                <h6 class="font-semiBold">
                    {{ `${slotProps.data.manager.firstName}  ${slotProps.data.manager.lastName}` }}
                </h6>
            </template>
        </Column>
        <Column data-testid="vacation-request-approver-col" class="text-sm sm:text-base md:text-base lg:text-base w-2" :header="t('vacationTableHeader.Action')">
            <template #body="slotProps">
                <div v-if="slotProps.data.status !== 'PENDING'">- -</div>
                <Button v-if="slotProps.data.status === 'PENDING'" class="ml-2" icon="pi pi-trash" text rounded aria-label="Filter" @click="handleCancelVacationRequest($event, slotProps.data.vacationRequestId)" />
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
