<script setup lang="ts">
import type { AssignProjectType } from '@/types/assignProjectType';
import moment from 'moment';
import Button from 'primevue/button';
import Column from 'primevue/column';
import DataTable from 'primevue/datatable';
import Tag from 'primevue/tag';

import { useI18n } from 'vue-i18n';
const { t } = useI18n();

type propType = {
    assignedProjectList: AssignProjectType[];
};

/**
 * DefineProps
 */
const props = defineProps<propType>();

/**
 * DefineEmits
 */

const emits = defineEmits<{
    (e: 'delete-assigned-project', assignationId: string, projectStartDate: string, projectEndDate: string): void;
}>();

/**
 * Methods
 */

const handleDeleteAssignedProject = (assignationId: string, projectStartDate: string, projectEndDate: string) => {
    emits('delete-assigned-project', assignationId, projectStartDate, projectEndDate);
};
</script>

<template>
    <h4>{{ t('AssignedProjectListTitle') }}</h4>
    <DataTable paginator :rows="5" currentPageReportTemplate="{first} to {last} of {totalRecords} items" paginatorTemplate="PrevPageLink CurrentPageReport NextPageLink" showGridlines :value="props.assignedProjectList" stripedRows>
        <template #empty>
            <div class="my-5">
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noAssignedProjectRecordsMessage') }}</h6>
                </div>
            </div>
        </template>

        <template #header>
            <div>
                <h5>{{ t('assignedProjectsListTitle') }}</h5>
            </div>
        </template>

        <Column sortable class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="project.projectName" :header="t('projectNameTableColumn')"> </Column>
        <Column sortable class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" :header="t('collaboratorLabel')">
            <template #body="slotProps">
                <div>
                    {{ `${slotProps.data.collaborator.firstName} ${slotProps.data.collaborator.lastName}` }}
                </div>
            </template>
        </Column>
        <Column sortable class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="startDate" :header="t('ProjectStartDateLabel')">
            <template #body="slotProps">
                <div>
                    {{ moment(slotProps.data.startDate).format('DD/MM/yyyy') }}
                </div>
            </template>
        </Column>
        <Column sortable class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="endDate" :header="t('ProjectEndDateLabel')">
            <template #body="slotProps">
                <div>
                    {{ slotProps.data.endDate ? moment(slotProps.data.endDate).format('DD/MM/yyyy') : '- -' }}
                </div>
            </template></Column
        >
        <Column sortable class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" :header="t('ProjectTypeLabel')">
            <template #body="slotProps">
                <Tag :severity="slotProps.data.endDate ? 'info' : 'success'">
                    {{ slotProps.data.endDate ? t('projectLabel') : t('offProjectLabel') }}
                </Tag>
            </template></Column
        >
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base sm:w-auto" :header="t('ActionTableColumn')">
            <template #body="slotProps">
                <div>
                    <Button icon="pi pi-pencil" text rounded />
                    <Button class="ml-2" icon="pi pi-trash" text rounded aria-label="Filter" @click="handleDeleteAssignedProject(slotProps.data.assignationId, slotProps.data.startDate, slotProps.data.endDate)" />
                </div>
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
