<script setup lang="ts">
import * as yup from 'yup';
import { useField, useForm } from 'vee-validate';
import { toTypedSchema } from '@vee-validate/yup';
import { useI18n } from 'vue-i18n';

import Button from 'primevue/button';
import Calendar from 'primevue/calendar';
import Dropdown from 'primevue/dropdown';

import type { ProjectType } from '@/types/projectType';
import type { UserType } from '@/types/userTypes';
import type { AssignProjectType } from '@/types/assignProjectType';

import type { CollaboratorType } from '@/types/CollaboratorType';
import { computed, type ComputedRef } from 'vue';

const { t } = useI18n();

type propType = {
    projectList: ProjectType[];
    collaboratorList: CollaboratorType[];
};
type ProjectTypeOptionsType = {
    value: boolean;
    projectType: string;
};

const schema = toTypedSchema(
    yup.object().shape({
        project: yup.object().required(() => t('VacationTypeLeaveErrorMessage')),
        collaborator: yup.object().required(() => t('VacationTypeLeaveErrorMessage')),
        startDate: yup.date().required(() => t('StartingDateErrorMessage')),
        projectType: yup.boolean().required(() => t('ProjectTypeErrorMessage')),
        endDate: yup.date().when('projectType', (projectType: any) => {
            if (projectType[0]) {
                return yup
                    .date()
                    .required(() => t('EndingDateErrorMessage'))
                    .min(yup.ref('startDate'), () => t('EndDateBeforeStartDateErrorMessage'));
            } else {
                return yup.date().nullable();
            }
        })
    })
);

/**
 * DefineProps
 */

const props = defineProps<propType>();

/**
 * DefineEmits
 */
const emits = defineEmits<{
    (e: 'submit-form', formValues: AssignProjectType): void;
}>();

/**
 * Computed
 */

const projectTypeOptions: ComputedRef<ProjectTypeOptionsType[]> = computed(() => {
    return [
        { value: true, projectType: t('projectLabel') },
        { value: false, projectType: t('offProjectLabel') }
    ];
});

/**
 * Composable
 */

const { handleSubmit } = useForm({
    validationSchema: schema
});

const { value: selectedProject, errorMessage: projectError } = useField<ProjectType>('project');
const { value: selectedCollaborator, errorMessage: collaboratorError } = useField<UserType>('collaborator');
const { value: selectedStartDate, errorMessage: startDateError } = useField<Date>('startDate');
const { value: selectedProjectType, errorMessage: projectTypeError } = useField<boolean>('projectType');
const { value: SelectedEndDate, errorMessage: endDateError } = useField<Date | undefined>('endDate');

/**
 * Methods
 */

const handleSelectProjectType = (selectedProjectType: boolean) => {
    if (!selectedProjectType) {
        SelectedEndDate.value = undefined;
    }
};
const onSubmit = handleSubmit((values: any) => {
    emits('submit-form', values);
});
const fullName = (option: any) => `${option.firstName} ${option.lastName}`;
</script>

<template>
    <h4>{{ t('label.assignProjects') }}</h4>
    <form @submit.prevent="onSubmit">
        <div class="grid p-fluid mt-4">
            <div class="field col-12 md:col-4 lg:col-4">
                <label for="project">{{ t('projectLabel') }}</label>
                <Dropdown id="project" v-model="selectedProject" :class="{ 'p-invalid': !!projectError }" :options="props.projectList" optionLabel="projectName" :placeholder="t('projectDropDownPlaceholder')"></Dropdown>
                <small class="p-error" v-show="projectError">{{ $t('projectRequired') }}</small>
            </div>
            <div class="field col-12 md:col-4 lg:col-4">
                <label for="collaborator">{{ t('collaboratorLabel') }}</label>
                <Dropdown id="collaborator" v-model="selectedCollaborator" :class="{ 'p-invalid': !!collaboratorError }" :options="props.collaboratorList" :optionLabel="fullName" :placeholder="t('collaboratorDropDownPlaceholder')"></Dropdown>
                <small class="p-error" v-show="collaboratorError">{{ $t('collaboratorRequired') }}</small>
            </div>
            <div class="field col-12 md:col-4 lg:col-4">
                <label for="projectType">{{ t('ProjectTypeLabel') }}</label>
                <Dropdown
                    id="projectType"
                    @update:model-value="handleSelectProjectType"
                    v-model="selectedProjectType"
                    :class="{ 'p-invalid': !!projectTypeError }"
                    :options="projectTypeOptions"
                    optionLabel="projectType"
                    optionValue="value"
                    :placeholder="t('ProjectTypePlaceholder')"
                ></Dropdown>
                <small class="p-error" v-show="projectTypeError">{{ $t('ProjectTypeErrorMessage') }}</small>
            </div>
        </div>
        <div class="grid p-fluid">
            <div class="field col-12 md:col-5 lg:col-4">
                <label for="project">{{ t('ProjectStartDateLabel') }}</label>
                <Calendar dateFormat="dd/mm/yy" :class="{ 'p-invalid': !!startDateError }" class="mb-1" v-model="selectedStartDate" :placeholder="t('StartingDateErrorMessage')" showIcon />
                <small class="p-error" v-show="startDateError">{{ $t('VacationTypeLeaveErrorMessage') }}</small>
            </div>
            <div class="field col-12 md:col-5 lg:col-4">
                <label for="project">{{ t('ProjectEndDateLabel') }}</label>
                <Calendar dateFormat="dd/mm/yy" :class="{ 'p-invalid': !!endDateError }" :disabled="!selectedProjectType" class="mb-1" v-model="SelectedEndDate" :placeholder="t('EndingDateErrorMessage')" showIcon />
                <small class="p-error" v-if="endDateError">{{ $t(endDateError) }}</small>
            </div>
        </div>
        <div class="field col-12 md:col-5 lg:col-4">
            <Button type="submit" size="small" :label="t('assignProjectBtnText')" class="pt-3 mb-5 mt-4"></Button>
        </div>
    </form>
</template>

<style scoped></style>
