<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from 'primevue/button';
import Tag from 'primevue/tag';
import router from '@/router/index';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

import type { DisplayedMonthlyTimesheetRequestsType } from '@/types/imputationTypes';
import { getImputationStatusSeverity } from '@/utils/StatusTagSeverity';

type propType = {
    imputation: DisplayedMonthlyTimesheetRequestsType | undefined;
    isErrorOccurred: boolean;
};

/**
 * * Props (defineProps)
 */

const props = defineProps<propType>();

/**
 * * Emits (defineEmits)
 */

const emits = defineEmits<{
    (e: 'refetch-data'): void;
}>();

/**
 * Methods
 */

const handleClick = () => {
    router.push('/timesheet/imputations');
};

const handleRouteChange = (month: number, year: number) => {
    router.push({ path: '/timesheet/add', query: { month: month, year: year } });
};
</script>

<template>
    <DataTable class="lg:p-datatable-lg md:p-datatable-md sm:p-datatable-sm" sm:stripedRows :value="props.imputation?.data" responsiveLayout="stack" breakpoint="767px">
        <template #empty>
            <div v-if="props.isErrorOccurred">
                <div class="justify-content-center flex">
                    <div class="block"><i class="block text-red-600 text-4xl sm:text-5xl pi pi-exclamation-triangle"></i></div>
                </div>
                <div class="justify-content-center flex">
                    <div class="block">
                        <h4 class="text-base mt-2 sm:text-xl">{{ t('errorFetchingMessage') }}</h4>
                    </div>
                </div>
                <div class="justify-content-center flex">
                    <div class="block"><Button @click="emits('refetch-data')" :label="$t('reloadBtn')" severity="info" icon="pi pi-replay" size="small" /></div>
                </div>
            </div>
            <div class="my-5" v-else>
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noImputationRecordsMessage') }}</h6>
                </div>
            </div>
        </template>

        <template #header>
            <div class="flex justify-content-end">
                <Button :label="$t('MoreButtonText')" link icon="pi pi-arrow-right" iconPos="right" @click="handleClick" />
            </div>
        </template>
        <Column class="text-sm sm:text-base md:text-base lg:text-base" :header="$t('imputationRequestTable.month')">
            <template #body="slotProps">
                <h6 class="no-underline hover:underline cursor-pointer text-blue-700 font-medium" @click="handleRouteChange(slotProps.data.timesheetMonth, slotProps.data.timesheetYear)">
                    {{ `${slotProps.data.timesheetMonth} - ${slotProps.data.timesheetYear}` }}
                </h6>
            </template>
        </Column>
        <Column class="text-sm sm:text-base md:text-base lg:text-base" field="monthStatus" :header="$t('imputationRequestTable.status')">
            <template #body="slotProps">
                <Tag :value="slotProps.data.monthStatus" :severity="getImputationStatusSeverity(slotProps.data.monthStatus)" />
            </template>
        </Column>
        <Column class="text-sm sm:text-base md:text-base lg:text-base" :header="$t('imputationRequestTable.approver')">
            <template #body="slotProps">
                <h6>{{ `${slotProps.data.manager.firstName} ${slotProps.data.manager.lastName}` }}</h6>
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
