<script setup lang="ts">
import Dialog from 'primevue/dialog';

import type { CountryType } from '@/types/countryType';

import { useI18n } from 'vue-i18n';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
const { t } = useI18n();

type propType = {
    visible: boolean;
    isCountryNameFieldError: boolean;
    countryNameFieldValue: CountryType;
    isEditMode: boolean;
};

/**
 * defineProps
 */

const props = defineProps<propType>();

/**
 * defineEmits
 */

const emits = defineEmits<{
    (e: 'update:visible', visible: boolean): void;
    (e: 'validate-form'): void;
    (e: 'update:countryNameValue', newValue: string): void;
}>();

/**
 * methods
 */

const handleDialogVisibility = (visible: boolean) => {
    emits('update:visible', visible);
};

const handleSubmitForm = () => {
    emits('validate-form');
};
const handleFieldTextChange = (newValue: string) => {
    emits('update:countryNameValue', newValue);
};
</script>

<template>
    <Dialog
        modal
        :draggable="false"
        @hide="emits('update:countryNameValue', '')"
        @update:visible="handleDialogVisibility"
        :visible="props.visible"
        :header="t(!isEditMode ? 'addCountryDialogHeaderText' : 'editCountryDialogHeaderText')"
        :style="{ width: '45vw' }"
        :breakpoints="{ '960px': '75vw' }"
    >
        <div class="flex flex-column gap-2">
            <label for="countryNameField">{{ t('addCountryDialogHeaderText') }}</label>
            <InputText :class="{ 'p-invalid': isCountryNameFieldError }" id="countryNameField" type="text" @update:model-value="handleFieldTextChange" :model-value="countryNameFieldValue.countryName" :placeholder="t('addCountryPlaceholder')" />
            <small class="p-error" v-show="isCountryNameFieldError">{{ t('CountryNameErrorMessage') }}</small>
        </div>
        <template #footer>
            <Button type="submit" @click="handleSubmitForm" :label="!isEditMode ? t('addCountryDialogHeaderText') : t('editCountryDialogHeaderText')" class="mr-5 mb-5 mt-2"></Button>
        </template>
    </Dialog>
</template>

<style scoped>
.p-dialog {
    background-color: rgb(0, 0, 0, 0.5);
}
</style>
