<script setup lang="ts">
import { computed } from 'vue';

type statsType = {
    name: string;
    nb?: number | undefined;
    color?: string;
    status: string;
};

/**
 * * computed
 */

const iconBorderClasses = computed(() => `text-${props.color}-500 `);
const iconBackgroundClasses = computed(() => ` bg-${props.color}-100 `);

const props = defineProps<statsType>();

console.log(props.nb);
</script>
<template>
    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{ props.name }}</span>
                    <div class="text-900 font-medium text-xl">{{ props.nb || 0 }}</div>
                </div>
                <div data-testid="dashboard-stats-icon-div-bg" class="flex align-items-center justify-content-center bg-blue-100 border-round w-3rem h-3rem" :class="iconBackgroundClasses">
                    <i data-testid="dashboard-stats-icon-color" class="pi pi-inbox text-blue-500 text-xl" :class="iconBorderClasses"></i>
                </div>
            </div>
            <span class="text-500">{{ props.status }}</span>
        </div>
    </div>
</template>

<style scoped></style>
