<script setup lang="ts">
import router from '@/router';
import moment from 'moment';
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from 'primevue/button';
import Tag from 'primevue/tag';
import { useI18n } from 'vue-i18n';
import { getImputationStatusSeverity } from '@/utils/StatusTagSeverity';

import type { ImputationRequestDataType } from '@/types/imputationTypes';

const { t } = useI18n();

type propType = {
    imputationRequests: ImputationRequestDataType[];
    isErrorOccurred: boolean;
};

/**
 * * Props (defineProps)
 */
const props = defineProps<propType>();

/**
 * * Methods
 */
const handleRouteChange = (month: number, year: number) => {
    router.push({ path: '/timesheet/add', query: { month: month, year: year } });
};
/**
 * * Emits (defineEmits)
 */
const emits = defineEmits<{
    (e: 'refetch-data'): void;
}>();
</script>

<template>
    <DataTable class="lg:p-datatable-lg md:p-datatable-md sm:p-datatable-sm" sm:stripedRows :value="props.imputationRequests" responsiveLayout="scroll" breakpoint="767px">
        <template #empty>
            <div v-if="props.isErrorOccurred">
                <div class="justify-content-center flex">
                    <div class="block"><i class="block text-red-600 text-4xl sm:text-5xl pi pi-exclamation-triangle"></i></div>
                </div>
                <div class="justify-content-center flex">
                    <div class="block">
                        <h4 class="text-base mt-2 sm:text-xl">{{ t('errorFetchingMessage') }}</h4>
                    </div>
                </div>
                <div class="justify-content-center flex">
                    <div class="block"><Button @click="emits('refetch-data')" :label="t('reloadBtn')" severity="info" icon="pi pi-replay" size="small" /></div>
                </div>
            </div>
            <div class="my-5" v-else>
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noImputationRecordsMessage') }}</h6>
                </div>
            </div>
        </template>

        <template #header>
            <div class="flex justify-content-start">
                <h5>{{ t('imputationList') }}</h5>
            </div>
        </template>
        <Column class="text-sm sm:text-base md:text-base lg:text-base" :header="$t('imputationRequestTable.month')">
            <template #body="slotProps">
                <h6 class="no-underline hover:underline cursor-pointer text-blue-700 font-medium" @click="handleRouteChange(slotProps.data.timesheetMonth, slotProps.data.timesheetYear)">
                    {{ `${slotProps.data.timesheetMonth} - ${slotProps.data.timesheetYear}` }}
                </h6>
            </template>
        </Column>
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base" field="monthStatus" :header="$t('imputationRequestTable.status')">
            <template #body="slotProps">
                <Tag :value="slotProps.data.monthStatus" :severity="getImputationStatusSeverity(slotProps.data.monthStatus)" />
            </template>
        </Column>
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base" :header="$t('imputationRequestTable.approver')">
            <template #body="slotProps">
                <h6>{{ `${slotProps.data.manager.firstName} ${slotProps.data.manager.lastName}` }}</h6>
            </template>
        </Column>
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" :header="t('submissionDateLabel')">
            <template #body="slotProps">
                <h6>{{ moment(slotProps.data.createdAt).format('DD/MM/YYYY HH:mm') }}</h6>
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
