<script setup lang="ts">
import { ref } from 'vue';

import Menu from 'primevue/menu';
import Button from 'primevue/button';

//props
type proptype = {
    availableLanguages: string[];
    modelValue: string;
};

const props = withDefaults(defineProps<proptype>(), {
    modelValue: 'fr'
});

// events
const emits = defineEmits<{
    (e: 'update:modelValue', selectedLanguage: string): void;
}>();

//data
const menuRef = ref<any>(null);

// functions
const toggle = (event: Event) => {
    menuRef.value.toggle(event);
};
const handleLanguageSwitch = (event: Event, selectedLanguage: string) => {
    emits('update:modelValue', selectedLanguage);
    toggle(event);
};
</script>

<template>
    <div>
        <Button data-testid="flag-btn" type="button" @click="toggle" rounded text size="small" aria-label="Filter">
            <img :alt="modelValue" :src="`/svg/${props.modelValue}.svg`" />
        </Button>
        <Menu ref="menuRef" popup>
            <template #end>
                <button v-for="(lang, i) in availableLanguages" @click="handleLanguageSwitch($event, lang)" :key="i" class="w-full p-link flex align-items-center pl-4 text-color hover:surface-200 border-noround">
                    <img :alt="lang" :src="`/svg/${lang}.svg`" />
                    <span class="ml-1 font-medium text-lg">{{ lang.toUpperCase() }}</span>
                </button>
            </template>
        </Menu>
    </div>
</template>
