<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Badge from 'primevue/badge';

import type { ExtendedVacationDaysQuotaType } from '@/types/vacationDaysQuotaType.';

import { handleVacationSeverity } from '@/utils/StatusTagSeverity';

type propType = {
    leaveBalanceData: ExtendedVacationDaysQuotaType[];
};

const props = defineProps<propType>();
</script>

<template>
    <div class="card">
        <h4>{{ $t('LeaveBalanceText') }}</h4>
        <DataTable class="p-datatable-sm" stripedRows :value="props.leaveBalanceData" :rows="5" :paginator="false" responsiveLayout="scroll">
            <Column class="text-500 font-medium text-sm sm:text-base md:text-lg lg:text-lg w-4">
                <template #header>
                    <span class="text-600 text-base sm:text-base md:text-lg lg:text:lg font-medium">{{ $t('BalanceText') }}</span></template
                >
                <template #body="slotProps">
                    <Badge value="" :severity="handleVacationSeverity(slotProps.index)"></Badge> <span class="text-500 font-medium"> {{ slotProps.data.vacationType.vacationTypeName }}</span>
                </template>
            </Column>
            <Column :header="$t('Used')" class="text-500 font-medium text-sm sm:text-base md:text-lg lg:text-lg w-3">
                <template #body="slotProps">
                    <span class="text-600 font-medium sm:text-base md:text-lg lg:text-lg">{{ slotProps.data.vacationType.yearlyQuota - slotProps.data.remainingQuota }}</span>
                </template>
            </Column>
            <Column :header="$t('Available')" class="text-500 font-medium text-sm sm:text-base md:text-lg lg:text-lg w-3">
                <template #body="slotProps">
                    <span class="text-600 font-medium sm:text-base md:text-lg lg:text-lg"> {{ slotProps.data.remainingQuota }} </span>
                </template>
            </Column>
            <Column :header="$t('Allowance')" class="text-500 font-medium text-sm sm:text-base md:text-lg lg:text-lg w-3">
                <template #body="slotProps">
                    <span class="text-600 font-medium sm:text-base md:text-lg lg:text-lg"> {{ slotProps.data.vacationType.yearlyQuota }}</span>
                </template>
            </Column>
        </DataTable>
    </div>
</template>

<style scoped></style>
