<script setup lang="ts">
import Chart from 'primevue/chart';

import type { chartDataType } from '@/types/types';

type propType = {
    chartdata: chartDataType;
    barOptions: any;
};
const props = defineProps<propType>();
</script>

<template>
    <div class="card">
        <h5>{{ $t('ChartLeaveTitle') }}</h5>
        <Chart type="bar" :data="props.chartdata" :options="barOptions"></Chart>
    </div>
</template>

<style scoped></style>
