<script setup lang="ts">
import { defineProps, withDefaults } from 'vue';

const props = withDefaults(defineProps<{ isLoading: boolean }>(), {
    isLoading: false
});
</script>

<template>
    <transition name="loading-fade">
        <div v-if="props.isLoading" class="overlay">
            <div class="loading style-2">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div v-else>
            <!-- Content to be displayed -->
            <slot></slot>
        </div>
    </transition>
</template>

<style scoped>
.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.776);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading.style-2 {
    position: relative;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    margin: 6px;
    border: 4px solid #4338ca;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4338ca transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add the loading-fade CSS transition */
.loading-fade-enter-active,
.loading-fade-leave-active {
    transition: opacity 0.3s ease;
}
.loading-fade-enter,
.loading-fade-leave-to /* .loading-fade-leave-active in <2.1.8 */ {
    opacity: 0;
}
</style>
