<script setup lang="ts">
import { ref } from 'vue';

import moment from 'moment';

import Dropdown from 'primevue/dropdown';
import PublicDaysList from '@/components/PublicDaysList.vue';
import Button from 'primevue/button';
import Calendar from 'primevue/calendar';

import type { PublicDayType, CountryType } from '@/types/countryType';

import { useI18n } from 'vue-i18n';
const { t } = useI18n();

type propType = {
    countriesList: CountryType[];
};

/**
 * defineProps
 */

const props = defineProps<propType>();

/**
 * DefineEmits
 */

const emits = defineEmits<{
    (e: 'public-day-save', CountryId: string, publicDaysList: PublicDayType[]): void;
}>();

/**
 * Reactive Variables
 */

const selectedCountry = ref<CountryType>();

const publicDaysList = ref<PublicDayType[]>([]);
const publicDayToAdd = ref<string>();

/**
 * Methods
 */

const handleSelectCountry = (countrySelected: CountryType) => {
    selectedCountry.value = countrySelected;
    publicDaysList.value = countrySelected.publicDays;
};

const handlePublicDayDeletion = (publicDayId: string) => {
    publicDaysList.value = publicDaysList.value.filter((publicDay) => publicDay.id != publicDayId);
};

const handlePublicDaysSave = () => {
    if (selectedCountry.value) {
        emits('public-day-save', selectedCountry.value?.countryId, publicDaysList.value);
    }
};

const handleAddPublicDayToList = () => {
    if (publicDayToAdd.value) {
        const searchedPublicDay = publicDaysList.value.find((publicDay) => moment(publicDay.publicDayDate).isSame(publicDayToAdd.value));
        if (searchedPublicDay) return;
        publicDaysList.value.push({ publicDayDate: publicDayToAdd.value });
    }
};

console.log(publicDayToAdd);
</script>

<template>
    <div class="flex flex-row">
        <Dropdown :modelValue="selectedCountry" @update:modelValue="handleSelectCountry" :options="props.countriesList" optionLabel="countryName" :placeholder="t('selectCountryPlaceholder')" class="w-15rem md:w-20rem mr-3" />
    </div>
    <Transition name="fade">
        <div v-show="selectedCountry" class="public-day-container mt-4">
            <div class="flex flex-row align-items-center justify-content-start">
                <div class="flex flex-column gap-2 mt-4 mr-4">
                    <label for="public-day-picker">{{ t('addPublicDayLabelText') }}</label>
                    <Calendar dateFormat="dd/mm/yy" id="public-day-picker" v-model="publicDayToAdd" showIcon :placeholder="t('selectDatePlaceholderText')" />
                </div>
                <div><Button class="mt-6" :label="$t('addBtnLabel')" icon="pi pi-plus" iconPos="left" @click="handleAddPublicDayToList" /></div>
            </div>
            <div class="mt-5 p-fluid px-5">
                <PublicDaysList @delete-public-day="handlePublicDayDeletion" :publicDaysList="publicDaysList" />
                <div class="mt-4">
                    <Button class="flex justify-content-center align-content-center" @click="handlePublicDaysSave">Submit</Button>
                </div>
            </div>
        </div>
    </Transition>
</template>

<style scoped>
.public-day-container {
    background-color: #fafafa;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 1px;
    border-radius: 10px;
    border: 1px solid #e5e7eb;
}
.fade-enter-active,
.fade-leave-active {
    transition: opacity 5s ease;
}
</style>
