<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from 'primevue/button';

import type { CountryType } from '@/types/countryType';

import { useI18n } from 'vue-i18n';
const { t } = useI18n();

type propType = {
    countryList: CountryType[];
};

/**
 * Props
 */
const props = defineProps<propType>();

/**
 * Define emits
 */
const emits = defineEmits<{
    (e: 'delete-country', countryId: string): void;
    (e: 'edit-country', countryId: string): void;
    (e: 'add-country'): void;
}>();

/**
 * Methods
 */

const handleCountryDeletion = (countryId: string) => {
    emits('delete-country', countryId);
};

const handleCountryEdit = (countryId: string) => {
    emits('edit-country', countryId);
};
const handleAddCountry = () => {
    emits('add-country');
};
</script>

<template>
    <DataTable showGridlines :value="props.countryList" stripedRows>
        <template #empty>
            <div class="my-5">
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noPublicRecordsMessage') }}</h6>
                </div>
            </div>
        </template>

        <template #header>
            <div class="flex justify-content-between">
                <h5>{{ t('countriesListTitle') }}</h5>
                <Button :label="$t('addBtnLabel')" icon="pi pi-plus" iconPos="left" @click="handleAddCountry" />
            </div>
        </template>

        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="countryName" :header="t('countryNameTableColumn')"> </Column>
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-3 sm:w-auto" field="publicDays.length" :header="t('nbOFPublicDaysTableColumn')"></Column>
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base sm:w-auto" :header="t('ActionTableColumn')">
            <template #body="slotProps">
                <div>
                    <Button icon="pi pi-pencil" text rounded @click="handleCountryEdit(slotProps.data.countryId)" /> <Button class="ml-2" icon="pi pi-trash" text rounded aria-label="Filter" @click="handleCountryDeletion(slotProps.data.countryId)" />
                </div>
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
