<script setup lang="ts">
import { computed } from 'vue';
import moment from 'moment';
import router from '@/router';

import Button from 'primevue/button';
import Column from 'primevue/column';
import DataTable from 'primevue/datatable';
import Tag from 'primevue/tag';

import { getSeverity } from '@/utils/StatusTagSeverity';

import type { VacationRequestType } from '@/types/vacationRequestType';

import { useI18n } from 'vue-i18n';

const { t } = useI18n();

type propType = {
    vacationRequest: VacationRequestType[];
    latest: boolean;
    paginated: boolean;
};

/**
 * * DefineProps
 */
const props = withDefaults(defineProps<propType>(), { paginated: false });

/**
 * * Methods
 */
const comment = (comment: string | undefined) => {
    return comment ? comment : '- -';
};

const handleRouteChange = () => {
    router.push({ name: 'managerVacationRequestList' });
};

const getMoreDetailPage = (vacationRequest: VacationRequestType) => {
    router.push({ name: 'confirmVacationRequestPage', params: { id: vacationRequest.vacationRequestId } });
};

/**
 * * Computed
 */

const tableHeaderTitle = computed(() => {
    return props.latest ? t('pendingVacationRequestList') : t('label.vacationList');
});
</script>

<template>
    <DataTable rowHover :paginator="props.paginated" showGridlines :value="props.vacationRequest" responsiveLayout="stack" stripedRows>
        <template #empty>
            <div class="my-5">
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noVacationRequestsRecordFoundManager') }}</h6>
                </div>
            </div>
        </template>

        <template #header>
            <div class="flex justify-content-between">
                <h5>{{ tableHeaderTitle }}</h5>
                <Button v-show="props.latest" :label="$t('MoreButtonText')" link icon="pi pi-arrow-right" iconPos="right" @click="handleRouteChange" />
            </div>
        </template>

        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" :header="t('vacationTableHeader.Range')">
            <template #body="slotProps">
                <h6 class="no-underline hover:underline cursor-pointer text-blue-700" @click="getMoreDetailPage(slotProps?.data)">
                    {{ `${moment(slotProps.data.startDate).format('DD/MM/YYYY')} - ${moment(slotProps.data.endDate).format('DD/MM/YYYY')}` }}
                </h6>
            </template>
        </Column>
        <Column v-if="!props.latest" class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="nbOfDays" :header="t('vacationTableHeader.nbOfDays')">
            <template #body="slotProps">
                <div>
                    {{ t('NbOfDays', slotProps.data.nbOfDays) }}
                </div>
            </template>
        </Column>
        <Column class="text-sm sm:text-base md:text-base lg:text-base" :header="t('vacationTableHeader.Status')">
            <template #body="slotProps">
                <Tag :value="slotProps.data.status" :severity="getSeverity(slotProps.data.status)" />
            </template>
        </Column>
        <Column v-if="!props.latest" class="text-sm sm:text-base md:text-base lg:text-base overflow-hidden w-3" :header="t('vacationTableHeader.Comment')">
            <template #body="slotProps">
                <div class="font-semibold overflow-hidden text-overflow-ellipsis" style="width: 200px">
                    {{ comment(slotProps.data.comment) }}
                </div>
            </template>
        </Column>
        <Column class="font-semiBold text-sm sm:text-base md:text-base lg:text-base w-1" field="nbOfDays" :header="t('vacationTableHeader.VacationType')">
            <template #body="slotProps">
                <h6 class="">
                    {{ `${slotProps.data.vacationType.vacationTypeName}` }}
                </h6>
            </template>
        </Column>
        <Column class="font-semiBold text-sm sm:text-base md:text-base lg:text-base w-2" field="approver" :header="t('vacationTableHeader.Collaborator')">
            <template #body="slotProps">
                <h6 class="">
                    {{ `${slotProps.data.collaborator.firstName}  ${slotProps.data.collaborator.lastName}` }}
                </h6>
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
