<script setup lang="ts">
import router from '@/router';
import { getImputationStatusSeverity } from '@/utils/StatusTagSeverity';

import Column from 'primevue/column';
import DataTable from 'primevue/datatable';
import Tag from 'primevue/tag';

import type { ImputationRequestDataType } from '@/types/imputationTypes';

import { useI18n } from 'vue-i18n';
import moment from 'moment';
import Button from 'primevue/button';
const { t } = useI18n();

type propType = {
    imputationRequestList: ImputationRequestDataType[];
    latest: boolean;
};

/**
 * * DefineProps
 */

const props = defineProps<propType>();

/**
 * * Methods
 */

const handleRouteChange = (month: number, year: number, collaboratorId: string, monthlyTimesheetId: string) => {
    router.push({ path: '/timesheet/add', query: { month: month, year: year, collaboratorId: collaboratorId, monthlyTimesheetId: monthlyTimesheetId } });
};

const handleButtonClick = () => {
    router.push({ name: 'ImputationList' });
};
</script>

<template>
    <DataTable
        :paginator="!props.latest"
        :rows="5"
        currentPageReportTemplate="{first} to {last} of {totalRecords} items"
        paginatorTemplate="PrevPageLink CurrentPageReport NextPageLink"
        showGridlines
        :value="props.imputationRequestList"
        responsiveLayout="stack"
        stripedRows
    >
        <template #empty>
            <div class="my-5">
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noImputationRequestRecordsMessage') }}</h6>
                </div>
            </div>
        </template>

        <template #header>
            <div class="flex justify-content-between">
                <h5>{{ t('imputationRequestListTitle') }}</h5>
                <Button v-show="latest" :label="$t('MoreButtonText')" link icon="pi pi-arrow-right" iconPos="right" @click="handleButtonClick" />
            </div>
        </template>

        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" :header="t('imputationRequestTable.month')">
            <template #body="slotProps">
                <h6
                    class="no-underline hover:underline cursor-pointer text-blue-700 font-medium"
                    @click="handleRouteChange(slotProps.data.timesheetMonth, slotProps.data.timesheetYear, slotProps.data.collaborator.collaboratorId, slotProps.data.monthlyTimesheetId)"
                >
                    {{ `${slotProps.data.timesheetMonth} - ${slotProps.data.timesheetYear}` }}
                </h6>
            </template>
        </Column>
        <Column sortable class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="monthStatus" :header="t('imputationRequestTable.status')">
            <template #body="slotProps">
                <Tag :value="slotProps.data.monthStatus" :severity="getImputationStatusSeverity(slotProps.data.monthStatus)" />
            </template>
        </Column>
        <Column sortable class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" :header="t('collaboratorLabel')">
            <template #body="slotProps">
                <h6>{{ `${slotProps.data.collaborator.firstName} ${slotProps.data.collaborator.lastName}` }}</h6>
            </template>
        </Column>
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" :header="t('submissionDateLabel')">
            <template #body="slotProps">
                <h6>{{ moment(slotProps.data.createdAt).format('DD/MM/YYYY HH:mm') }}</h6>
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
