<script setup lang="ts">
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import Button from 'primevue/button';

import { useI18n } from 'vue-i18n';
import type { ProjectType } from '@/types/projectType';
const { t } = useI18n();

type propType = {
    projectList: ProjectType[];
};
/**
 * * DefineProps
 */
const props = defineProps<propType>();

/**
 * * DefineEmits
 */

const emits = defineEmits<{
    (e: 'edit-project', projectId: string): void;
    (e: 'delete-project', projectId: string): void;
}>();

/**
 * * Methods
 */

const handleEditProject = (projectId: string) => {
    emits('edit-project', projectId);
};

const handleProjectDeletion = (projectId: string) => {
    emits('delete-project', projectId);
};
</script>

<template>
    <DataTable paginator :rows="3" currentPageReportTemplate="{first} to {last} of {totalRecords} items" paginatorTemplate="PrevPageLink CurrentPageReport NextPageLink" showGridlines :value="props.projectList" stripedRows>
        <template #empty>
            <div class="my-5">
                <div class="flex justify-content-center">
                    <i class="text-2xl pi pi-inbox"></i>
                </div>
                <div class="flex justify-content-center">
                    <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noProjectRecordsMessage') }}</h6>
                </div>
            </div>
        </template>

        <template #header>
            <div>
                <h5>{{ t('projectsListTitle') }}</h5>
            </div>
        </template>

        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="projectName" :header="t('projectNameTableColumn')"> </Column>
        <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base sm:w-auto" :header="t('ActionTableColumn')">
            <template #body="slotProps">
                <div>
                    <Button icon="pi pi-pencil" text rounded @click="handleEditProject(slotProps.data.projectId)" />
                    <Button class="ml-2" icon="pi pi-trash" text rounded aria-label="Filter" @click="handleProjectDeletion(slotProps.data.projectId)" />
                </div>
            </template>
        </Column>
    </DataTable>
</template>

<style scoped></style>
