<script setup lang="ts">
import { computed } from 'vue';
import moment from 'moment';

import Badge from 'primevue/badge';
import Tag from 'primevue/tag';

import type { VacationRequestType } from '@/types/vacationRequestType';

import { getSeverity, handleVacationSeverity, handleNexTLeaveStatusText } from '@/utils/StatusTagSeverity';

import { useI18n } from 'vue-i18n';

const { t } = useI18n();

type propType = {
    ImputationList: VacationRequestType[];
};

const props = defineProps<propType>();

/**
 * * Computed
 */

const totalDays = computed(() => {
    return props.ImputationList.reduce((acc, currentVal) => {
        if (currentVal.nbOfDays !== undefined) return acc + currentVal.nbOfDays;
    }, 0);
});
</script>

<template>
    <div class="card">
        <div class="flex justify-content-between align-items-center mb-5 border-bottom-2 surface-border">
            <h4>{{ $t('NextLeaveText') }}</h4>
            <h5 v-show="props.ImputationList.length > 0" class="mt-0 text-xl sm:text-lg md:text-lg">{{ $t('AllowanceDays', totalDays) }}</h5>
        </div>
        <ul v-if="props.ImputationList.length > 0" class="list-none p-0 m-0">
            <li v-for="(leave, key) in props.ImputationList" :key="leave.vacationRequestId" class="flex flex-column sm:flex-row sm:align-items-center sm:justify-content-between mb-4 border-bottom-1 surface-border pb-3">
                <div>
                    <span class="text-500 text-base sm:text-base md:text-lg font-semibold mr-2 mb-1 md:mb-0"><Badge value="" class="mr-1" :severity="handleVacationSeverity(key)"></Badge>{{ leave.vacationType.vacationTypeName }}</span>
                    <div class="mt-1 text-500 text-sm sm:text-base md:text-md">{{ `${moment(leave.startDate).format('DD/MM/YYYY')} - ${moment(leave.endDate).format('DD/MM/YYYY')}` }}</div>
                </div>
                <div class="mt-2 sm:mt-0 flex flex-column align-items-start sm:align-items-end">
                    <Tag :value="handleNexTLeaveStatusText(leave.status)" :severity="getSeverity(leave.status)" />
                    <span class="text-500 mt-2 sm:text-sm md:text-base lg:text:base md:inline lg:inline xl:inline sm:ml-3 font-semibold hidden-mobile">{{ $t('NumberOfRequest', leave.nbOfDays) }}</span>
                </div>
            </li>
        </ul>
        <div v-else class="my-6">
            <div class="flex justify-content-center">
                <i class="text-2xl pi pi-inbox"></i>
            </div>
            <div class="flex justify-content-center">
                <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noUppcomingVacationRequest') }}</h6>
            </div>
        </div>
    </div>
</template>

<style scoped>
@media (max-width: 575px) {
    .hidden-mobile {
        display: none;
    }
}
</style>
