<script setup lang="ts">
import Paginator from 'primevue/paginator';

type PageChangeEvent = {
    page: number;
};
type propType = { pageSize: number; totalElements: number };

/**
 * * Props (defineProps)
 */

const props = withDefaults(defineProps<propType>(), { pageSize: 5 });

/**
 * * Emits (defineEmits)
 */

const emit = defineEmits<{
    (e: 'page-change', pageNumber: number): void;
    (e: 'page-size-change', rows: number): void;
}>();
</script>

<template>
    <div class="card py-3">
        <Paginator
            v-if="props.totalElements > 0"
            :template="{
                '640px': 'PrevPageLink CurrentPageReport NextPageLink',
                '960px': 'FirstPageLink PrevPageLink CurrentPageReport NextPageLink LastPageLink',
                '1300px': 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink',
                default: 'FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink RowsPerPageDropdown'
            }"
            :rows="props.pageSize"
            :totalRecords="props.totalElements"
            :rowsPerPageOptions="[5, 10]"
            @update:rows="(rows: number) => emit('page-size-change', rows)"
            @page="({ page }: PageChangeEvent) => emit('page-change', page)"
        >
        </Paginator>
    </div>
</template>

<style scoped></style>
