<script setup lang="ts">
import Dialog from 'primevue/dialog';

import type { ProjectType } from '@/types/projectType';

import { useI18n } from 'vue-i18n';
import InputText from 'primevue/inputtext';
import Button from 'primevue/button';
const { t } = useI18n();

type propType = {
    visible: boolean;
    isProjectNameFieldError: boolean;
    projectFieldValue: ProjectType;
};

/**
 * defineProps
 */

const props = defineProps<propType>();

/**
 * defineEmits
 */

const emits = defineEmits<{
    (e: 'update:visible', visible: boolean): void;
    (e: 'validate-form'): void;
    (e: 'update:projectNameValue', newValue: string): void;
}>();

/**
 * methods
 */

const handleDialogVisibility = (visible: boolean) => {
    emits('update:visible', visible);
};

const handleSubmitForm = () => {
    emits('validate-form');
};
const handleFieldTextChange = (newValue: string) => {
    emits('update:projectNameValue', newValue);
};
</script>

<template>
    <Dialog
        modal
        :draggable="false"
        @hide="emits('update:projectNameValue', '')"
        @update:visible="handleDialogVisibility"
        :visible="props.visible"
        :header="t('editProjectDialogHeaderText')"
        :style="{ width: '45vw' }"
        :breakpoints="{ '960px': '75vw' }"
    >
        <div class="flex flex-column gap-2">
            <label for="countryNameField">{{ t('editProjectDialogHeaderText') }}</label>
            <InputText :class="{ 'p-invalid': isProjectNameFieldError }" id="countryNameField" type="text" @update:model-value="handleFieldTextChange" :model-value="props.projectFieldValue.projectName" />
            <small class="p-error" v-show="isProjectNameFieldError">{{ t('ProjectNameErrorMessage') }}</small>
        </div>
        <template #footer>
            <Button type="submit" @click="handleSubmitForm" :label="t('editProjectDialogHeaderText')" class="mr-5 mb-5 mt-2"></Button>
        </template>
    </Dialog>
</template>

<style scoped></style>
