<script setup lang="ts">
import type { PublicDayType } from '@/types/countryType';
import moment from 'moment';
import Button from 'primevue/button';
import ScrollPanel from 'primevue/scrollpanel';

type propType = {
    publicDaysList: PublicDayType[];
};

/**
 * DefineProps
 */

const props = defineProps<propType>();

/**
 * defineEmits
 */

const emits = defineEmits<{
    (e: 'delete-public-day', id: string): void;
}>();

/**
 * Methods
 */

const handleDeletePublicDay = (PublicDayId: string | undefined) => {
    if (PublicDayId) emits('delete-public-day', PublicDayId);
};
</script>

<template>
    <ScrollPanel style="width: 100%; height: 200px" class="custom-scroll-panel">
        <ul class="list-none p-0 m-0 scrollable-list">
            <li v-for="publicDay in props.publicDaysList" :key="publicDay.id" class="flex flex-row align-items-center justify-content-between mb-4 border-bottom-1 surface-border px-3 pb-1">
                <div>
                    <span class="text-500 md:text-base font-semibold mr-2 mb-1 md:mb-0">{{ moment(publicDay.publicDayDate).format('DD/MM/yyyy') }}</span>
                </div>
                <div class="mt-1 sm:mt-0 flex sm:align-items-end">
                    <Button class="mx-2" icon="pi pi-trash" text rounded @click="handleDeletePublicDay(publicDay.id)" />
                </div>
            </li>
        </ul>
    </ScrollPanel>
</template>

<style scoped>
.public-day-item {
    margin: 15px;
    padding: 20px;
    border: 1px solid #4035c0;
}
.custom-scroll-panel {
    background: linear-gradient(to bottom, transparent 5%, rgba(255, 255, 255, 0)), linear-gradient(to bottom, rgba(255, 255, 255, 0), white 70%) 0 100%, radial-gradient(farthest-side at 50% 0%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: #fff;
    background-size: 100% 4em, 100% 4em, 100% 1.4em, 100% 1.4em;
    background-position: 0 0, 100% 0, 0 0, 0 100%;
    background-attachment: local, local, scroll, scroll;
    z-index: 99999;
}
</style>
