<script setup lang="ts">
import Skeleton from 'primevue/skeleton';
</script>
<template>
    <div class="flex justify-content-end">
        <Skeleton height="2.5rem" width="6rem" class="mx-2" />
        <Skeleton height="2.5rem" width="6rem" />
    </div>
    <div class="flex justify-content-between my-2">
        <div class="flex align-items-center justify-content-center m-b-3">
            <Skeleton width="30rem" height="1.5em" class="skeleton-component" />
            <Skeleton width="1em" height="1em" class="font-semibold text-xl sm:text-2xl md:text-2xl lg:text-2xl xl:text-3xl md:mx-3 lg:mx-4"></Skeleton>
            <Skeleton width="1em" height="1em" class="font-semibold text-xl sm:text-2xl md:text-2xl lg:text-2xl xl:text-3xl md:mx-3 lg:mx-4"></Skeleton>
        </div>
    </div>
    <div class="p-grid">
        <div class="p-col-12 mb-5 table-container">
            <table>
                <tr class="fixed-min-width">
                    <th class="text-sm sm:text-md lg:text-lg fixed-left-col"><Skeleton height="2em" width="7rem" /></th>
                    <th class="text-sm sm:text-md lg:text-lg fixed-min-width"><Skeleton height="2em" width="7rem" /></th>
                    <th class="text-sm sm:text-md lg:text-lg fixed-min-width"><Skeleton height="2em" width="7rem" /></th>
                    <th class="text-sm sm:text-md lg:text-lg fixed-min-width"><Skeleton height="2em" width="7rem" /></th>
                    <th class="text-sm sm:text-md lg:text-lg fixed-min-width"><Skeleton height="2em" width="7rem" /></th>
                    <th class="text-sm sm:text-md lg:text-lg fixed-min-width"><Skeleton height="2em" width="7rem" /></th>

                    <th class="text-sm sm:text-md lg:text-lg"><Skeleton height="2em" width="7rem" /></th>
                    <th class="text-sm sm:text-md lg:text-lg"><Skeleton height="2em" width="7rem" /></th>
                </tr>
                <tr>
                    <td class="fixed-left-col">
                        <span class="font-semibold"><Skeleton height="1.5em" width="9rem" /></span>
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td class="pl-5">
                        <Skeleton height="3em" width="4rem" />
                    </td>
                    <td class="fixed-min-width font-medium"><Skeleton height="3em" width="6rem" /></td>
                </tr>
                <tr>
                    <td class="fixed-left-col">
                        <span class="font-semibold"><Skeleton height="1.5em" width="9rem" /></span>
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td>
                        <Skeleton height="3em" width="6rem" />
                    </td>
                    <td class="pl-5">
                        <Skeleton height="3em" width="4rem" />
                    </td>
                    <td class="fixed-min-width font-medium"><Skeleton height="3em" width="6rem" /></td>
                </tr>

                <tr class="noBorder">
                    <td class="font-base text-500 fixed-left-col"><Skeleton height="1.75em" width="6rem" /></td>
                    <td><Skeleton height="1.75em" width="6rem" /></td>
                    <td><Skeleton height="1.75em" width="6rem" /></td>
                    <td><Skeleton height="1.75em" width="6rem" /></td>
                    <td><Skeleton height="1.75em" width="6rem" /></td>
                </tr>
            </table>
            <h5 class="flex justify-content-end sticky-heading"><Skeleton height="1.75em" width="10rem" /></h5>
            <div class="flex justify-content-end sticky-heading">
                <Skeleton height="2.5rem" width="8rem" class="mt-2" />
            </div>
        </div>
    </div>
</template>

<style scoped>
tr.noBorder td {
    border: 0;
}
.fixed-min-width {
    min-width: 8rem;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f0f0f0;
}
.table-actions {
    text-align: center;
}

@media (max-width: 793px) {
    .table-container {
        width: 100%;
        overflow-x: scroll;
    }

    th,
    td {
        min-width: 85px;
    }
    .fixed-left-col {
        position: sticky;
        left: 0;
        z-index: 200;
        background-color: #f2f2f2;
    }
    .fixed-right-col {
        position: sticky;
        left: 0;
        z-index: 200;
        background-color: #f2f2f2;
    }
    .sticky-heading {
        position: sticky;
        left: 0;
        z-index: 200;
    }
    @media (max-width: 767px) {
        .skeleton-component {
            width: 10rem;
        }
    }
}
</style>
