<script setup lang="ts">
import { computed, watch } from 'vue';
import * as yup from 'yup';
import { toTypedSchema } from '@vee-validate/yup';

import Button from 'primevue/button';
import InputText from 'primevue/inputtext';
import InputNumber from 'primevue/inputnumber';

import type { vacationType } from '@/types/vacationType';

import { useI18n } from 'vue-i18n';
import { useField, useForm } from 'vee-validate';

const { t } = useI18n();

const schema = toTypedSchema(
    yup.object({
        vacationTypeName: yup.string().min(2, t('vacationTypeNameLenghtErrorMessage')).required(t('vacationTypeNameErrorMessage')),
        yearlyQuota: yup
            .number()
            .min(0)
            .test('multiplf0.5', t('multipleOf0.5'), (number) => Number(number) % 0.5 === 0)
            .max(365)
            .required(t('yearlyQuotaErrorMessage'))
    })
);

type propType = {
    vacationType: vacationType | undefined;
    editMode: boolean;
};

/**
 * * Define Props
 */
const props = defineProps<propType>();

/**
 * * Define Emits
 */

const emits = defineEmits<{
    (e: 'add-vacation-type', values: vacationType): void;
    (e: 'update-vacation-type', vacationTypeId: string, values: vacationType): void;
    (e: 'toggle-form-mode', isEditMode: boolean): void;
}>();

/**
 * * Reactive Variables
 */

/**
 * * Composable
 */

const { handleSubmit, isSubmitting, handleReset } = useForm({
    validationSchema: schema
});

const { value: typedVacationTypeName, errorMessage: vacationTypeNameError } = useField<string>('vacationTypeName');
const { value: typedYearlyQuota, errorMessage: yearlyQuotaError } = useField<number>('yearlyQuota');

/**
 * * Computed
 */
const submitButtonTitle = computed(() => {
    return props.editMode ? t('updateVacationTypeBtnTitle') : t('addVacationTypeBtnTitle');
});

/**
 * * Watchers
 */

watch(
    () => props.vacationType,
    (newValue: vacationType | undefined) => {
        handleUpdateVacationType(newValue);
    }
);

/**
 * * Methods
 */

const onSubmit = handleSubmit((values) => {
    if (props.editMode && props.vacationType?.vacationTypeId) emits('update-vacation-type', props.vacationType?.vacationTypeId, values);
    else if (props.editMode === false) emits('add-vacation-type', values);
    handleReset();
});

const handleUpdateVacationType = (vacationTypeToUpdate: vacationType | undefined) => {
    if (vacationTypeToUpdate && vacationTypeToUpdate.vacationTypeName) {
        typedVacationTypeName.value = vacationTypeToUpdate.vacationTypeName;
    }
    if (vacationTypeToUpdate && vacationTypeToUpdate.yearlyQuota) {
        typedYearlyQuota.value = vacationTypeToUpdate.yearlyQuota;
    }
    if (vacationTypeToUpdate !== undefined) emits('toggle-form-mode', true);
    else emits('toggle-form-mode', false);
};

const handleCancelEditMode = () => {
    emits('toggle-form-mode', false);
    handleReset();
};
</script>

<template>
    <div>
        <form @submit.prevent="onSubmit">
            <div class="p-fluid">
                <div class="field">
                    <label for="vacationTypeName">{{ t('addVacationTypeNameTitle') }}</label>
                    <InputText :class="{ 'p-invalid': vacationTypeNameError }" type="text" id="vacationTypeName " v-model="typedVacationTypeName" :placeholder="t('vacationTypeNamePlaceholder')" />
                    <small class="p-error" v-show="!!vacationTypeNameError">{{ vacationTypeNameError }}</small>
                </div>
                <div class="field">
                    <label for="yearlyQuota">{{ t('yearlyDaysPermitted') }}</label>
                    <InputNumber
                        mode="decimal"
                        showButtons
                        :maxFractionDigits="1"
                        :min="0"
                        :max="365"
                        :step="0.5"
                        v-model="typedYearlyQuota"
                        :placeholder="t('yearlyDaysPermittedPlaceholder')"
                        :class="{ 'p-invalid': yearlyQuotaError }"
                        inputId="vacationTypeName"
                        suffix=" days"
                    />
                    <small class="p-error" v-show="!!yearlyQuotaError">{{ yearlyQuotaError }}</small>
                </div>
                <div class="flex" :class="{ 'justify-content-center': !props.editMode, 'justify-content-between': props.editMode }">
                    <Button type="submit" :label="submitButtonTitle" :disabled="isSubmitting" class="pt-3 mb-5 mt-4" />
                    <Button v-show="props.editMode" severity="danger" type="button" :label="t('cancelBtn')" class="ml-3 mb-5 mt-4" @click="handleCancelEditMode" />
                </div>
            </div>
        </form>
    </div>
</template>

<style scoped></style>
