<script setup lang="ts">
import type { vacationType } from '@/types/vacationType';
import Button from 'primevue/button';
import Column from 'primevue/column';
import DataTable from 'primevue/datatable';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();

type propType = {
    vacationTypeList: vacationType[];
};

/**
 * * Define Props
 */

const props = defineProps<propType>();

/**
 * * Define Emits
 */

const emits = defineEmits<{
    (e: 'delete-vacation-type', vacationTypeId: string): void;
    (e: 'update-vacation-type', vacationTypeObject: vacationType): void;
}>();

/**
 * * Methods
 */

const handleVacationTypeDeletion = (vacationTypeId: string) => {
    emits('delete-vacation-type', vacationTypeId);
};

const handleVacationTypeUpdate = (vacationTypeObject: vacationType) => {
    emits('update-vacation-type', vacationTypeObject);
};
</script>

<template>
    <div>
        <DataTable paginator :rows="5" currentPageReportTemplate="{first} to {last} of {totalRecords} items" paginatorTemplate="PrevPageLink CurrentPageReport NextPageLink" showGridlines :value="props.vacationTypeList" stripedRows>
            <template #empty>
                <div class="my-5">
                    <div class="flex justify-content-center">
                        <i class="text-2xl pi pi-inbox"></i>
                    </div>
                    <div class="flex justify-content-center">
                        <h6 class="text-700 text-center text-sm sm:text-base mt-2">{{ t('noVacationTypeRecordsMessage') }}</h6>
                    </div>
                </div>
            </template>

            <template #header>
                <div>
                    <h5>{{ t('vacationTypeTableTitle') }}</h5>
                </div>
            </template>

            <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="vacationTypeName" :header="t('vacationTypeNameTableColumn')"> </Column>
            <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base w-1 sm:w-auto" field="yearlyQuota" :header="t('daysPermittedTableColumn')"> </Column>
            <Column class="font-semibold text-sm sm:text-base md:text-base lg:text-base sm:w-auto" :header="t('ActionTableColumn')">
                <template #body="slotProps">
                    <div>
                        <Button icon="pi pi-pencil" text rounded @click="handleVacationTypeUpdate(slotProps.data)" />
                        <Button class="ml-2" icon="pi pi-trash" text rounded aria-label="Filter" @click="handleVacationTypeDeletion(slotProps.data.vacationTypeId)" />
                    </div>
                </template>
            </Column>
        </DataTable>
    </div>
</template>

<style scoped></style>
