<script setup lang="ts">
import { onMounted, ref } from 'vue';
import AssignProjectForm from '@/components/AssignProjectForm.vue';
import AssignedProjectList from '@/components/AssignedProjectList.vue';

import ProjectService from '@/service/ProjectService';
import UserService from '@/service/UserService';
import AuthService from '@/service/AuthService';
import ProjectAssignationService from '@/service/ProjectAssignationService';

import type { ProjectType } from '@/types/projectType';
import type { CollaboratorType } from '@/types/collaboratorType';
import type { AssignProjectType } from '@/types/assignProjectType';

import { getToastMessage } from '@/utils/getMessage';

import { useToast } from 'primevue/usetoast';
import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

const toast = useToast();

/**
 * Reactive variables
 */

const isLoading = ref<boolean>(false);
const projectList = ref<ProjectType[]>([]);
const collaboratorsList = ref<CollaboratorType[]>([]);
const assignedProjectList = ref<AssignProjectType[]>([]);

/**
 * Methods
 */

const handleAddAssignation = (formValues: AssignProjectType) => {
    AuthService.getClaims().then((claim) => {
        console.log(claim?.sub);
        isLoading.value = true;
        if (claim)
            ProjectAssignationService.addProjectAssignation(claim?.sub, formValues)
                .then(({ data }) => {
                    assignedProjectList.value.unshift(data);
                    toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('assignedProjectAddedToastMessage'), life: 3000 });
                })
                .catch((error) => {
                    if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                })
                .finally(() => {
                    isLoading.value = false;
                });
    });
};

const handleDeleteAssignedProject = (assignedProjectId: string, projectStartDate: string, projectEndDate: string) => {
    ProjectAssignationService.deleteAssignedProjectById(assignedProjectId, projectStartDate, projectEndDate)
        .then(() => {
            assignedProjectList.value = assignedProjectList.value.filter((assignedProject: AssignProjectType) => assignedProject.assignationId !== assignedProjectId);
            toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('assignedProjectDeletedToastMessage'), life: 3000 });
        })
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => {
            isLoading.value = false;
        });
};

/**
 * Lifecycle hooks
 */

onMounted(() => {
    AuthService.getClaims().then((claims) => {
        if (claims)
            Promise.all([ProjectService.getAllProjects(), UserService.getMyCollaboratorList(claims?.sub), ProjectAssignationService.getAllAssignedProject(claims.sub)]).then((data) => {
                projectList.value = data[0].data;
                collaboratorsList.value = data[1].data;
                assignedProjectList.value = data[2].data;
            });
    });
});
</script>

<template>
    <div>
        <div class="card">
            <AssignProjectForm @submit-form="handleAddAssignation" :collaborator-list="collaboratorsList" :project-list="projectList" />
        </div>
        <div class="card">
            <AssignedProjectList @delete-assigned-project="handleDeleteAssignedProject" :assigned-project-list="assignedProjectList" />
        </div>
    </div>
</template>

<style scoped></style>
