<script setup lang="ts">
import { computed, onMounted, ref } from 'vue';

import moment from 'moment';
import Button from 'primevue/button';

import type { VacationRequestType } from '@/types/vacationRequestType';
import type { Status } from '@/types/vacationRequestType';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import AuthService from '@/service/AuthService';
import VacationRequestService from '@/service/VacationRequestService';
import VacationDaysQuotaService from '@/service/VacationQuotaService';

import type { VacationDaysQuotaType } from '@/types/vacationDaysQuotaType.';

import { useToast } from 'primevue/usetoast';
import { useI18n } from 'vue-i18n';
import { VACATION_TIME } from '@/constants/constant';

const toast = useToast();
const { t } = useI18n();

/**
 * * DefineProps
 */

const props = defineProps(['id']);

/**
 * * Reactive Variables
 */

const vacationRequest = ref<VacationRequestType>();
const vacationQuota = ref<VacationDaysQuotaType>();
const managerId = ref<string>();
const isLoading = ref<boolean>(false);

/**
 * * Computed
 */

const vacationDaysCount = computed(() => {
    return vacationRequest.value?.nbOfDays ? t('NbOfDays', vacationRequest.value?.nbOfDays) : '- -';
});

const collaboratorFullName = computed(() => {
    return `${vacationRequest.value?.collaborator?.firstName} ${vacationRequest.value?.collaborator?.lastName}`;
});
const comment = computed(() => {
    return vacationRequest.value?.comment ? vacationRequest.value?.comment : '- -';
});
const remainingQuota = computed(() => {
    if (vacationRequest.value?.status === 'REJECTED' || vacationRequest.value?.status === 'APPROVED') {
        if (typeof vacationQuota.value?.remainingQuota === 'number') return t('NbOfDays', vacationQuota.value?.remainingQuota);
    }
    if (vacationQuota.value && vacationRequest.value && vacationRequest.value?.status === 'PENDING') {
        const remainingDays = vacationQuota.value?.remainingQuota - vacationRequest.value?.nbOfDays;
        return t('NbOfDays', remainingDays);
    }
    return '- -';
});

const quotaTitle = computed(() => (vacationRequest.value?.status === 'PENDING' ? t('vacationTableHeader.RemainingQuota') : t('vacationTableHeader.CurrentQuota')));

const isVacationRequestPending = computed(() => vacationRequest.value?.status === 'PENDING');
const isVacationRequestRejected = computed(() => vacationRequest.value?.status === 'REJECTED');
const isVacationRequestApproved = computed(() => vacationRequest.value?.status === 'APPROVED');

const buttonIcon = computed(() => (isVacationRequestApproved.value ? '✓' : isVacationRequestRejected.value ? '✗' : ''));

const monthStatus = computed(() => (vacationRequest.value?.status ? t(`vacationStatus.${vacationRequest.value?.status}`) : ''));

const vacationStartTime = computed(() => (moment(vacationRequest.value?.startDate).hour() === VACATION_TIME.MORNING ? t('MorningText') : t('EveningText')));
const vacationEndTime = computed(() => (moment(vacationRequest.value?.endDate).hour() === VACATION_TIME.EVENING ? t('EveningText') : t('MorningText')));

/**
 * * Methods
 */

const initialFetch = (managerId: string, vacationRequestId: string) => {
    if (managerId) {
        isLoading.value = true;
        VacationRequestService.getVacationRequestById(managerId, vacationRequestId)
            .then(({ data }: { data: VacationRequestType }) => {
                vacationRequest.value = data;
                return data;
            })
            .then((vacationRequest: VacationRequestType) => {
                if (vacationRequest.collaborator)
                    VacationDaysQuotaService.getVacationDaysQuotaByCollaboratorAndVacationType(vacationRequest.collaborator?.collaboratorId, vacationRequest.vacationType.vacationTypeId).then(({ data }) => {
                        vacationQuota.value = data;
                    });
            })
            .catch((error) => {
                if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => {
                isLoading.value = false;
            });
    }
};

const handleVacationRequestApproval = (managerId: string | undefined, vacationRequestId: string, status: Status) => {
    if (managerId && vacationRequestId && status)
        VacationRequestService.updateVacationRequestStatus(managerId, vacationRequestId, status)
            .then(() => {
                if (vacationRequest.value) {
                    if (status === 'APPROVED') {
                        vacationRequest.value.status = 'APPROVED';
                    } else if (status === 'REJECTED') {
                        vacationRequest.value.status = 'REJECTED';
                    }
                }
            })
            .then(() => {
                initialFetch(managerId, vacationRequestId);
            })
            .catch((error) => {
                if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => {
                isLoading.value = false;
            });
};

/**
 * * Lifecycle Hooks
 */

onMounted(() => {
    AuthService.getClaims().then((claims) => {
        if (claims?.sub) {
            managerId.value = claims.sub;
            initialFetch(claims.sub, props.id);
        }
    });
});
</script>

<template>
    <div class="card">
        <div class="flex align-items-baseline justify-content-start">
            <h4>{{ t('detailedVacationRequestTitle') }}</h4>
            <div class="label" :class="{ 'approve-label': isVacationRequestApproved, 'reject-label': isVacationRequestRejected, 'pending-label': isVacationRequestPending }">
                <span class="label-icon" :class="{ 'approve-icon-and-text': isVacationRequestApproved, 'reject-icon-and-text': isVacationRequestRejected, 'pending-icon-and-text': isVacationRequestPending }">{{ buttonIcon }}</span>
                <span class="label-text" :class="{ 'approve-icon-and-text': isVacationRequestApproved, 'reject-icon-and-text': isVacationRequestRejected, 'pending-icon-and-text': isVacationRequestPending }">{{ monthStatus }}</span>
            </div>
        </div>
        <div class="grid mt-5 flex justify-content-end">
            <div class="col-12 md:col-6 h-full">
                <h6 class="font-semiBold text-lg">{{ t('vacationTableHeader.Range') }}</h6>
                <p class="font-medium text-500">{{ `${moment(vacationRequest?.startDate).format('DD/MM/YYYY')} (${vacationStartTime}) - ${moment(vacationRequest?.endDate).format('DD/MM/YYYY')} (${vacationEndTime})` }}</p>
                <h6 class="font-semiBold text-lg">{{ t('vacationTableHeader.nbOfDays') }}</h6>
                <p class="font-medium text-500">{{ vacationDaysCount }}</p>
                <h6 class="font-semiBold text-lg">{{ quotaTitle }}</h6>
                <p class="font-medium text-500">{{ remainingQuota }}</p>
            </div>
            <div class="col-12 md:col-6 h-full">
                <h6 class="font-semiBold text-lg">{{ t('vacationTableHeader.Collaborator') }}</h6>
                <p class="font-medium text-500">{{ collaboratorFullName }}</p>
                <h6 class="font-semiBold text-lg">{{ t('vacationTableHeader.VacationType') }}</h6>
                <p class="font-medium text-500">{{ vacationRequest?.vacationType.vacationTypeName }}</p>
                <h6 class="font-semiBold text-lg">{{ t('vacationTableHeader.Comment') }}</h6>
                <p class="font-medium text-500">{{ comment }}</p>
            </div>
            <div class="flex w-full justify-content-evenly sm:justify-content-end">
                <Button v-if="isVacationRequestPending" :label="t('rejectImputationBtnText')" class="mr-2" @click="handleVacationRequestApproval(managerId, props.id, 'REJECTED')" severity="danger" icon="pi pi-times" />
                <Button v-if="isVacationRequestPending" :label="t('acceptImputationBtnText')" class="mr-4" @click="handleVacationRequestApproval(managerId, props.id, 'APPROVED')" severity="success" icon="pi pi-check" />
            </div>
        </div>
    </div>
</template>

<style scoped>
.label {
    display: inline-flex;
    align-items: center;
    padding: 0px 4px;
    border-radius: 5px;
    margin-left: 20px;
}
.approve-label {
    border: 2px solid rgb(1, 172, 1);
}
.pending-label {
    border: 2px solid orange;
    padding: 5px 4px;
    margin-bottom: auto;
}

.reject-label {
    border: 2px solid #cc2b33;
}

.label-icon {
    font-size: 20px;
    margin-right: 5px;
}

.reject-icon-and-text {
    color: #cc2b33;
}
.pending-icon-and-text {
    color: orange;
}
.approve-icon-and-text {
    color: rgb(1, 172, 1);
}
</style>
