<script setup lang="ts">
import VacationTypeForm from '@/components/VacationTypeForm.vue';
import VacationTypeList from '@/components/VacationTypeList.vue';
import Loading from '@/components/Loading.vue';

import type { vacationType } from '@/types/vacationType';
import { computed, onMounted, ref } from 'vue';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import VacationTypeService from '@/service/VacationTypeService';

import { useI18n } from 'vue-i18n';
import { useToast } from 'primevue/usetoast';
import { getToastMessage } from '@/utils/getMessage';

const toast = useToast();
const { t } = useI18n();

/**
 * * Reactive Variables
 */

const vacationTypeList = ref<vacationType[]>([]);
const vacationTypeToUpdate = ref<vacationType | undefined>();
const isLoading = ref<boolean>(false);
const editMode = ref<boolean>(false);

/**
 * * Methods
 */

const handleAddVacationType = (formValues: vacationType) => {
    isLoading.value = true;
    VacationTypeService.addVacationType(formValues)
        .then(() => {
            toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('vacationTypeAddedToastMessage'), life: 3000 });
        })
        .then(() => {
            getVacationTypeList();
        })
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => (isLoading.value = false));
};

const handleUpdateVacationType = (vacationTypeObjectToUpdate: vacationType) => {
    vacationTypeToUpdate.value = vacationTypeObjectToUpdate;
};

/**
 * * Computed
 */

const formHeaderTitle = computed(() => {
    return editMode.value ? t('editVacationType') : t('addNewVacationType');
});

/**
 * * Lifecycle Hooks
 */

onMounted(() => {
    getVacationTypeList();
});

/**
 * * Methods
 */

const getVacationTypeList = () => {
    isLoading.value = true;
    VacationTypeService.getAllVacationTypes()
        .then(({ data }: { data: vacationType[] }) => {
            vacationTypeList.value = data;
        })
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => (isLoading.value = false));
};

const handleDeleteVacationType = (vacationTypeId: string) => {
    isLoading.value = true;
    VacationTypeService.deleteVacationTypeById(vacationTypeId)
        .then(() => {
            toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('vacationTypeDeletedToastMessage'), life: 3000 });
        })
        .then(() => getVacationTypeList())
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => (isLoading.value = false));
};

const handleEditVacationType = (vacationTypeId: string, updatedVacationTypeObject: vacationType) => {
    isLoading.value = true;
    if (vacationTypeId) {
        VacationTypeService.updateVacationTypeById(vacationTypeId, { vacationTypeName: updatedVacationTypeObject.vacationTypeName, yearlyQuota: updatedVacationTypeObject.yearlyQuota })
            .then(() => {
                toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('vacationTypeUpdatedToastMessage'), life: 3000 });
            })
            .then(() => getVacationTypeList())
            .catch((error) => {
                if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => {
                isLoading.value = false;
                editMode.value = false;
                vacationTypeToUpdate.value = undefined;
            });
    } else {
        editMode.value = false;
        vacationTypeToUpdate.value = undefined;
    }
};

const handleToggleFormMode = (formMode: boolean) => {
    if (formMode === false) {
        vacationTypeToUpdate.value = undefined;
    }
    editMode.value = formMode;
};
</script>

<template>
    <Loading :is-loading="isLoading">
        <div class="grid">
            <div class="col-12 xl:col-4">
                <div class="card">
                    <h4>{{ formHeaderTitle }}</h4>
                    <VacationTypeForm @toggle-form-mode="handleToggleFormMode" :edit-mode="editMode" :vacation-type="vacationTypeToUpdate" @update-vacation-type="handleEditVacationType" @add-vacation-type="handleAddVacationType" />
                </div>
            </div>
            <div class="col-12 xl:col-8">
                <div class="card">
                    <h4>{{ t('vacationTypeTitle') }}</h4>
                    <VacationTypeList @update-vacation-type="handleUpdateVacationType" @delete-vacation-type="handleDeleteVacationType" :vacation-type-list="vacationTypeList" />
                </div>
            </div>
        </div>
    </Loading>
</template>

<style scoped></style>
