<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';

import { useGetUserRole } from '@/composables/useGetUserRole';

import VacationRequestService from '@/service/VacationRequestService';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import PaginatorComponent from '@/components/PaginatorComponent.vue';
import ManagerVacationRequestList from '@/components/ManagerLVacationRequestList.vue';

import type { VacationRequestPageType, VacationRequestType } from '@/types/vacationRequestType';

import { useToast } from 'primevue/usetoast';
import { useI18n } from 'vue-i18n';

const { t } = useI18n();
const toast = useToast();
const { userRole, managerId } = useGetUserRole();

const page = ref<number>(0);
const size = ref<number>(5);
const isLoading = ref<boolean>(false);
const totalElements = ref<number>(0);
const vacationRequestList = ref<VacationRequestType[]>([]);

/**
 * * Methods
 */

const handlePageChange = (newPage: number) => {
    page.value = newPage;
};

const handlePageSizeChange = (newPageSize: number) => {
    size.value = newPageSize;
};

const handleFetchNewData = (page: number, size: number, managerId: string) => {
    if (userRole.value === 'MANAGER' && managerId) {
        isLoading.value = true;
        VacationRequestService.getManagerVacationRequestPaginated(managerId, page, size, false)
            .then(({ data }: { data: VacationRequestPageType }) => {
                vacationRequestList.value = data.data;
                totalElements.value = data.totalItems;
            })
            .catch((error) => {
                if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
            })
            .finally(() => (isLoading.value = false));
    }
};

/**
 * * Watchers
 */

watch([page, size, managerId], ([newPage, newSize, newManagerId]) => {
    if (newManagerId) handleFetchNewData(newPage, newSize, newManagerId);
});

/**
 * * Lifecycle Hooks
 */

onMounted(() => {
    if (managerId.value) handleFetchNewData(page.value, size.value, managerId.value);
});
</script>

<template>
    <div class="card">
        <h4>{{ t('label.vacationTitle') }}</h4>
        <ManagerVacationRequestList :paginated="false" :latest="false" :vacation-request="vacationRequestList" />
        <PaginatorComponent :page-size="size" :total-elements="totalElements" @page-change="handlePageChange" @page-size-change="handlePageSizeChange" />
    </div>
</template>

<style scoped></style>
