<script setup lang="ts">
import { onMounted, ref } from 'vue';

import ManageCountries from '@/components/ManageCountries.vue';
import ManagePublicDays from '@/components/ManagePublicDays.vue';
import CountryDialog from '@/components/CountryDialog.vue';
import Loading from '@/components/Loading.vue';

import CountryService from '@/service/CountryService';

import type { CountryType, newPublicDayType } from '@/types/countryType';

import { useI18n } from 'vue-i18n';
import { useToast } from 'primevue/usetoast';
import { getToastMessage } from '@/utils/getMessage';
import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

const toast = useToast();
const { t } = useI18n();

/**
 * Reactive variables
 */
const countriesList = ref<CountryType[]>([]);
const isLoading = ref<boolean>(false);
const isEditCountryDialogVisible = ref<boolean>(false);
const isAddCountryDialogVisible = ref<boolean>(false);
const countryNameFieldValue = ref<CountryType>({
    countryId: '',
    countryName: '',
    publicDays: []
});
const isCountryNameFieldError = ref<boolean>(false);

/**
 * Methods
 */

const handleGetCountriesList = () => {
    isLoading.value = true;
    CountryService.getAllCountries()
        .then(({ data }: { data: CountryType[] }) => {
            countriesList.value = data;
        })
        .catch((err) => {
            console.log(err);
        })
        .finally(() => {
            isLoading.value = false;
        });
};

const handleDeleteCountry = (countryId: string) => {
    isLoading.value = true;
    CountryService.deleteCountryById(countryId)
        .then(() => {
            toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('countryDeletedToastMessage'), life: 3000 });
        })
        .then(() => {
            handleGetCountriesList();
        })
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => {
            isLoading.value = false;
        });
};

const handleGetCountryById = (countryId: string): CountryType | undefined => {
    return countriesList.value.find((country: CountryType) => country.countryId == countryId);
};

const handleEditCountry = (countryId: string) => {
    const countryObjectToEdit = handleGetCountryById(countryId);
    if (countryObjectToEdit) {
        countryNameFieldValue.value.countryName = countryObjectToEdit.countryName;
        countryNameFieldValue.value.countryId = countryObjectToEdit.countryId;
    }
    isEditCountryDialogVisible.value = true;
};

const handleEditCountryDialogVisibility = (visible: boolean) => {
    isEditCountryDialogVisible.value = visible;
};
const handleAddCountryDialogVisibility = (visible: boolean) => {
    isAddCountryDialogVisible.value = visible;
};
const handleUpdateCountryNameValue = (newValue: string) => {
    countryNameFieldValue.value.countryName = newValue;
};
const handleAddCountry = () => {
    isAddCountryDialogVisible.value = true;
};
const validateEditForm = () => {
    if (!countryNameFieldValue.value.countryName) {
        isCountryNameFieldError.value = true;
    } else {
        isCountryNameFieldError.value = false;
        if (countryNameFieldValue.value.countryId && countryNameFieldValue.value.countryName) {
            isLoading.value = true;
            CountryService.editCountryById(countryNameFieldValue.value.countryId, countryNameFieldValue.value.countryName)
                .then(() => {
                    toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('countryUpdatedToastMessage'), life: 3000 });
                })
                .then(() => {
                    handleGetCountriesList();
                })
                .catch((error) => {
                    if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                })
                .finally(() => {
                    isLoading.value = false;
                    isEditCountryDialogVisible.value = false;
                    countryNameFieldValue.value = {
                        countryId: '',
                        countryName: '',
                        publicDays: []
                    };
                });
        } else {
            isEditCountryDialogVisible.value = false;
        }
    }
};

const validateAddForm = () => {
    if (!countryNameFieldValue.value.countryName) {
        isCountryNameFieldError.value = true;
    } else {
        isCountryNameFieldError.value = false;
        if (countryNameFieldValue.value.countryName) {
            isLoading.value = true;
            CountryService.addCountry(countryNameFieldValue.value.countryName)
                .then(() => {
                    toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('countryAddedToastMessage'), life: 3000 });
                })
                .then(() => {
                    handleGetCountriesList();
                })
                .catch((error) => {
                    if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                })
                .finally(() => {
                    isLoading.value = false;
                    isAddCountryDialogVisible.value = false;
                    countryNameFieldValue.value = {
                        countryId: '',
                        countryName: '',
                        publicDays: []
                    };
                });
        } else {
            isEditCountryDialogVisible.value = false;
        }
    }
};

const handlePublicDaySave = (countryId: string, publicDaysList: newPublicDayType[]) => {
    isLoading.value = true;
    CountryService.addPublicDaysToCountry(countryId, publicDaysList)
        .then(() => {
            toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('PublicDaysAddedToastMessage'), life: 3000 });
        })
        .then(() => {
            handleGetCountriesList();
        })
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => {
            isLoading.value = false;
        });
};

/**
 * Lifecycle methods
 */

onMounted(() => {
    handleGetCountriesList();
});
</script>

<template>
    <Loading :isLoading="isLoading">
        <CountryDialog
            :is-edit-mode="true"
            :visible="isEditCountryDialogVisible"
            :is-country-name-field-error="isCountryNameFieldError"
            :country-name-field-value="countryNameFieldValue"
            @update:country-name-value="handleUpdateCountryNameValue"
            @update:visible="handleEditCountryDialogVisibility"
            @validate-form="validateEditForm"
        />
        <CountryDialog
            :is-edit-mode="false"
            :visible="isAddCountryDialogVisible"
            :is-country-name-field-error="isCountryNameFieldError"
            :country-name-field-value="countryNameFieldValue"
            @update:country-name-value="handleUpdateCountryNameValue"
            @update:visible="handleAddCountryDialogVisibility"
            @validate-form="validateAddForm"
        />
        <div class="grid">
            <div class="col-12 xl:col-6">
                <div class="card">
                    <h4>{{ t('manageCountryTitle') }}</h4>
                    <ManageCountries @add-country="handleAddCountry" @edit-country="handleEditCountry" @delete-country="handleDeleteCountry" :countryList="countriesList" />
                </div>
            </div>
            <div class="col-12 xl:col-6">
                <div class="card">
                    <h4>{{ t('managePublicDaysTitle') }}</h4>
                    <ManagePublicDays @public-day-save="handlePublicDaySave" :countries-list="countriesList" />
                </div>
            </div>
        </div>
    </Loading>
</template>

<style scoped></style>
