<script setup lang="ts">
import { onMounted, ref } from 'vue';
import ProjectList from '@/components/MyProjects.vue';
import AddProjectForm from '@/components/AddProjectForm.vue';
import ProjectDialog from '@/components/ProjectDialog.vue';
import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';
import { getToastMessage } from '@/utils/getMessage';

import ProjectService from '@/service/ProjectService';

import type { ProjectType } from '@/types/projectType';

import { useToast } from 'primevue/usetoast';
import { useI18n } from 'vue-i18n';
import { useConfirm } from 'primevue/useconfirm';
import ConfirmDialog from 'primevue/confirmdialog';

const confirm = useConfirm();
const toast = useToast();
const { t } = useI18n();

/**
 * Reactive variables
 */

const isLoading = ref<boolean>(false);
const projectList = ref<ProjectType[]>([]);
const isEditProjectDialogVisible = ref<boolean>(false);
const isProjectNameFieldError = ref<boolean>(false);

const projectNameFieldValue = ref<ProjectType>({
    projectId: '',
    projectName: ''
});

/**
 * Methods
 */

const handleGetCountriesList = () => {
    isLoading.value = true;
    ProjectService.getAllProjects()
        .then(({ data }: { data: ProjectType[] }) => {
            projectList.value = data;
        })
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        })
        .finally(() => {
            isLoading.value = false;
        });
};

const handleGetProjectById = (projectId: string): ProjectType | undefined => {
    return projectList.value.find((country: ProjectType) => country.projectId == projectId);
};

const handleEditProject = (projectId: string) => {
    const projectObjectToEdit = handleGetProjectById(projectId);
    if (projectObjectToEdit) {
        projectNameFieldValue.value.projectId = projectObjectToEdit.projectId;
        projectNameFieldValue.value.projectName = projectObjectToEdit.projectName;
    }
    isEditProjectDialogVisible.value = true;
};

const handleUpdateProjectNameValue = (newValue: string) => {
    projectNameFieldValue.value.projectName = newValue;
};
const handleEditProjectDialogVisibility = (visible: boolean) => {
    isEditProjectDialogVisible.value = visible;
};
const handleAddProject = (values: ProjectType) => {
    isLoading.value = true;
    ProjectService.addProjectById(values)
        .then(() => {
            toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('projectAddedToastMessage'), life: 3000 });
        })
        .then(() => {
            handleGetCountriesList();
        })
        .catch((error) => {
            if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
        });
};

const confirmationDialog = (projectId: string) => {
    confirm.require({
        message: t('deletionConfirmationDialog'),
        header: t('deletionConfirmationHeaderDialog'),
        acceptLabel: t('yesText'),
        rejectLabel: t('noText'),
        icon: 'pi pi-exclamation-triangle',
        accept: () => {
            isLoading.value = true;
            ProjectService.deleteProjectById(projectId)
                .then(() => {
                    toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('deleteProjectToastMessage'), life: 3000 });
                })
                .then(() => {
                    handleGetCountriesList();
                })
                .catch((error) => {
                    if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                })
                .finally(() => (isLoading.value = false));
        }
    });
};

const handleDeleteProject = (projectId: string) => {
    confirmationDialog(projectId);
};
const validateEditForm = () => {
    if (!projectNameFieldValue.value.projectName) {
        isProjectNameFieldError.value = true;
    } else {
        isProjectNameFieldError.value = false;
        if (projectNameFieldValue.value.projectId && projectNameFieldValue.value.projectId) {
            isLoading.value = true;
            ProjectService.editProjectById(projectNameFieldValue.value.projectId, projectNameFieldValue.value.projectName)
                .then(() => {
                    toast.add({ severity: 'success', summary: 'Success', detail: getToastMessage('projectUpdatedToastMessage'), life: 3000 });
                })
                .then(() => {
                    handleGetCountriesList();
                })
                .catch((error) => {
                    if (error?.response?.data?.Code) toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                })
                .finally(() => {
                    isLoading.value = false;
                    isEditProjectDialogVisible.value = false;
                    projectNameFieldValue.value = {
                        projectId: '',
                        projectName: ''
                    };
                });
        } else {
            isEditProjectDialogVisible.value = false;
        }
    }
};

/**
 * Lifecycle Hooks
 */

onMounted(() => {
    handleGetCountriesList();
});
</script>

<template>
    <ProjectDialog
        :visible="isEditProjectDialogVisible"
        :is-project-name-field-error="isProjectNameFieldError"
        :project-field-value="projectNameFieldValue"
        @update:visible="handleEditProjectDialogVisibility"
        @update:project-name-value="handleUpdateProjectNameValue"
        @validate-form="validateEditForm"
    />
    <ConfirmDialog></ConfirmDialog>
    <div class="grid">
        <div class="col-12 xl:col-4">
            <div class="card">
                <h4>{{ t('addNewProject') }}</h4>
                <AddProjectForm @submit-form="handleAddProject" />
            </div>
        </div>
        <div class="col-12 xl:col-8">
            <div class="card">
                <h4>{{ t('MyProjectTitle') }}</h4>
                <ProjectList @delete-project="handleDeleteProject" @edit-project="handleEditProject" :project-list="projectList" />
            </div>
        </div>
    </div>
</template>

<style scoped></style>
