<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';
import ManagerImputationRequestsList from '@/components/ManagerImputationRequestsList.vue';

import type { ImputationRequestDataType } from '@/types/imputationTypes';

import ImputationService from '@/service/ImputationService';

import { handleApiErrorMessage } from '@/utils/ApiErrorResponseMessage';

import { useGetUserRole } from '@/composables/useGetUserRole';
import { useToast } from 'primevue/usetoast';
import { useI18n } from 'vue-i18n';

const { managerId, userRole } = useGetUserRole();
const toast = useToast();
const { t } = useI18n();

/**
 *  * Reactive Variables
 */

const imputationRequestList = ref<ImputationRequestDataType[]>([]);
const isLoading = ref<Boolean>(false);

/**
 * * Watchers
 */
const fetchMonthlyTimesheets = (userRole: 'MANAGER' | 'COLLABORATOR' | undefined, managerId: string | undefined) => {
    if (userRole === 'MANAGER' && managerId) {
        isLoading.value = true;
        ImputationService.getImputationRequestByManagerId(managerId, false)
            .then(({ data }) => {
                imputationRequestList.value = data;
            })
            .catch((error) => {
                if (error?.response?.data?.Code) {
                    toast.add({ severity: 'error', summary: 'Error', detail: handleApiErrorMessage(error?.response?.data?.Code), life: 3000 });
                }
            })
            .finally(() => {
                isLoading.value = false;
            });
    }
};

/**
 * * Watchers
 */

watch([managerId, userRole], ([newManagerId, newUserRole]) => {
    fetchMonthlyTimesheets(newUserRole, newManagerId);
});

/**
 *  * Lifecycle hooks
 */

onMounted(() => {
    fetchMonthlyTimesheets(userRole.value, managerId.value);
});
</script>

<template>
    <div class="card">
        <h4>{{ t('imputationList') }}</h4>
        <ManagerImputationRequestsList :latest="false" :imputation-request-list="imputationRequestList" />
    </div>
</template>

<style scoped></style>
