<script setup lang="ts">
import { ref, onMounted, watch, computed, type ComputedRef } from 'vue';
import { useGetUserRole } from '@/composables/useGetUserRole';

import AppMenuItem from './AppMenuItem.vue';
import { useI18n } from 'vue-i18n';
import type { SideBarMenuItemsType } from '@/types/sideBarMenuTypes';

const { userRole } = useGetUserRole();

const { t } = useI18n();

const collaboratorMenu: ComputedRef<SideBarMenuItemsType[]> = computed(() => {
    return [
        {
            label: t('label.home'),
            items: [{ label: t('label.dashboard'), icon: 'pi pi-fw pi-home', to: '/' }]
        },
        {
            label: t('label.myLeaveRequests'),
            items: [
                { label: t('label.addLeaveRequest'), icon: 'pi pi-fw pi-plus', to: '/leave-request/add' },
                { label: t('label.myLeaveRequests'), icon: 'pi pi-calendar', to: '/leave-request' }
            ]
        },
        {
            label: t('label.timesheet'),
            items: [
                { label: t('label.addImputation'), icon: 'pi pi-calendar-plus', to: '/timesheet/add' },
                { label: t('label.myImputationsRequests'), icon: 'pi pi-inbox', to: '/timesheet/imputations' }
            ]
        }
    ];
});

const managerMenu: ComputedRef<SideBarMenuItemsType[]> = computed(() => {
    return [
        {
            label: t('label.home'),
            items: [{ label: t('label.dashboard'), icon: 'pi pi-fw pi-home', to: '/' }]
        },
        {
            label: t('label.manageCountries'),
            items: [{ label: t('label.managePublicDays'), icon: 'pi pi-calendar', to: '/country' }]
        },
        {
            label: t('label.manageProjects'),
            items: [
                { label: t('label.manageProjects'), icon: 'pi pi-folder-open', to: '/projects' },
                { label: t('label.assignProjects'), icon: 'pi pi-users', to: '/assign-project' }
            ]
        },
        {
            label: t('label.imputationRequests'),
            items: [{ label: t('label.imputationList'), icon: 'pi pi-folder-open', to: '/imputation-requests' }]
        },
        {
            label: t('label.manageVacationTypes'),
            items: [{ label: t('label.vacationTypes'), icon: 'pi pi-folder-open', to: '/vacation-types' }]
        },
        {
            label: t('label.vacationTitle'),
            items: [{ label: t('label.vacationList'), icon: 'pi pi-folder-open', to: '/manager/vacation-requests' }]
        }
    ];
});

/**
 *  * Reactive Variables
 */

const model = ref<SideBarMenuItemsType[]>([]);

/**
 * * Methods
 */

const handlePickSideBarMenuItems = () => {
    if (userRole.value === 'COLLABORATOR') {
        model.value = collaboratorMenu.value;
    } else if (userRole.value === 'MANAGER') {
        model.value = managerMenu.value;
    }
};

/**
 * * Lifecycle hooks
 */

onMounted(() => {
    handlePickSideBarMenuItems();
});

/**
 * * Watchers
 */

watch([userRole, collaboratorMenu, managerMenu], () => {
    handlePickSideBarMenuItems();
});
</script>

<template>
    <ul class="layout-menu">
        <template v-for="(item, i) in model" :key="item">
            <app-menu-item v-if="!item.separator" :item="item" :index="i"></app-menu-item>
            <li v-if="item.separator" class="menu-separator"></li>
        </template>
    </ul>
</template>

<style lang="scss" scoped></style>
