<script setup>
import { ref, computed, onMounted, onBeforeUnmount } from 'vue';
import { useLayout } from '@/layout/composables/layout';
import AuthService from '@/service/AuthService';

import LanguageSwitcher from '@/components/LanguageSwitcher.vue';
import Button from 'primevue/button';
import Menu from 'primevue/menu';
import Avatar from 'primevue/avatar';
import { useI18n } from 'vue-i18n';
import { useGetUserRole } from '@/composables/useGetUserRole';
const { userRole } = useGetUserRole();

const { locale } = useI18n();

const { t } = useI18n();

const locales = ['fr', 'en'];

const { onMenuToggle } = useLayout();

const outsideClickListener = ref(null);
const topbarMenuActive = ref(false);
const currentUser = ref('');
const menu = ref();
const items = ref([]);

onMounted(() => {
    bindOutsideClickListener();
    AuthService.getClaims().then((claims) => {
        currentUser.value = claims.name;
    });
});

const currentUserRole = computed(() => {
    return userRole.value === 'COLLABORATOR' ? t('collaboratorLabel') : userRole.value === 'MANAGER' ? 'Manager' : undefined;
});
onBeforeUnmount(() => {
    unbindOutsideClickListener();
});

const onTopBarMenuButton = () => {
    topbarMenuActive.value = !topbarMenuActive.value;
};

const toggle = (event) => {
    menu.value.toggle(event);
};

const logout = () => {
    AuthService.logout();
};

const topbarMenuClasses = computed(() => {
    return {
        'layout-topbar-menu-mobile-active': topbarMenuActive.value
    };
});

const bindOutsideClickListener = () => {
    if (!outsideClickListener.value) {
        outsideClickListener.value = (event) => {
            if (isOutsideClicked(event)) {
                topbarMenuActive.value = false;
            }
        };
        document.addEventListener('click', outsideClickListener.value);
    }
};
const unbindOutsideClickListener = () => {
    if (outsideClickListener.value) {
        document.removeEventListener('click', outsideClickListener);
        outsideClickListener.value = null;
    }
};
const isOutsideClicked = (event) => {
    if (!topbarMenuActive.value) return;

    const sidebarEl = document.querySelector('.layout-topbar-menu');
    const topbarEl = document.querySelector('.layout-topbar-menu-button');

    return !(sidebarEl.isSameNode(event.target) || sidebarEl.contains(event.target) || topbarEl.isSameNode(event.target) || topbarEl.contains(event.target));
};
</script>

<template>
    <div class="layout-topbar">
        <router-link to="/" class="layout-topbar-logo">
            <img :src="`/svg/worklog${!topbarMenuActive ? '-sm' : ''}.svg`" />
        </router-link>

        <button class="p-link layout-menu-button layout-topbar-button" @click="onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>

        <div class="p-link layout-topbar-menu-button">
            <div class="flex align-items-center">
                <LanguageSwitcher v-model="locale" :availableLanguages="locales" />
                <Button icon="pi pi-ellipsis-v" text rounded @click="onTopBarMenuButton()" />
            </div>
        </div>

        <div class="layout-topbar-menu" :class="topbarMenuClasses">
            <div class="flex mobile-screen-styling align-items-center justify-content-center">
                <LanguageSwitcher v-if="!topbarMenuActive" v-model="locale" :availableLanguages="locales" />
                <div class="flex justify-content-center">
                    <Button type="button" class="text-lg hide-mobile-screen" icon="pi pi-angle-down" iconPos="right" link :label="currentUser" @click="toggle" aria-haspopup="true" aria-controls="overlay_menu" />
                    <Menu ref="menu" id="overlay_menu" :model="items" :popup="true">
                        <template #start>
                            <button @click="profileClick" class="w-full p-link flex align-items-center p-2 pl-3 text-color hover:surface-200 border-noround">
                                <Avatar image="/svg/user.png" class="mr-2" shape="circle" />
                                <div class="flex flex-column align">
                                    <span class="font-bold">{{ currentUser }}</span>
                                    <span class="text-sm">{{ currentUserRole }}</span>
                                </div>
                            </button>
                        </template>
                        <template #end>
                            <button class="w-full p-link flex align-items-center p-2 pl-4 text-color hover:surface-200 border-noround">
                                <i class="pi pi-sign-out" />
                                <span @click="logout()" class="ml-2">Log Out</span>
                            </button>
                        </template>
                    </Menu>
                </div>

                <button class="w-full p-link flex align-items-center p-3 text-color hover:surface-100 border-noround layout-topbar-button hide-big-screen" @click="logout">
                    <i class="pi pi-user font-medium"></i>
                    <span class="font-medium">{{ currentUser }}</span>
                </button>
                <button class="w-full p-link flex align-items-center p-3 text-color hover:surface-100 border-noround layout-topbar-button hide-big-screen" @click="logout">
                    <i class="pi pi-sign-out"></i>
                    <span>Log Out</span>
                </button>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
@media screen and (min-width: 960px) {
    .hide-big-screen {
        display: none !important;
    }
}

@media screen and (max-width: 960px) {
    .mobile-screen-styling {
        display: flex;
        flex-direction: column;
    }
    .hide-mobile-screen {
        display: none;
    }
}
</style>
